@use "reset";
@use "btnStyle";

// ------- Global params -------

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.row {
    display: flex;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 82px;
}

.disable-scroll {
    overflow: hidden;
}

@keyframes colorChange {
    from {
        background-color: #e7462a;
    }
    to {
        background-color: #4ebd09;
    }
}

@mixin animatedButton($width, $height, $fontSize) {
    $btn-width: $width !default;
    $btn-height: $height !default;
    $btn-full: $btn-height + $btn-width !default;
    $btn-half: $btn-full/2 !default;

    background-color: transparent;
    cursor: pointer;

    text-decoration: none;
    line-height: $btn-height;
    color: black;
    text-align: center;
    transition: 0.5s ease-in-out;

    position: relative;
    display: block;
    overflow: hidden;
    @include btnStyle.size(100%, $btn-height);
    max-width: $btn-width;
    border: 1px solid currentColor;
    border-radius: 50px;

    font-family: "Poppins", sans-serif;
    font-size: $fontSize;
    font-weight: 700;
    letter-spacing: 0em;

    $btn-color: #4ebd09;
    $btn-color-dark: #4ebd09;
    color: btnStyle.tint($btn-color);
    z-index: 2;

    span {
        @include btnStyle.absolute();
        display: block;
        @include btnStyle.size(0);
        border-radius: 50%;
        background: $btn-color-dark;
        transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    &:active {
        background-color: #121617;
    }

    @media (hover: hover) {
        &:hover {
            color: #121617;
            span {
                @include btnStyle.size(225%, $btn-width * 2.25);
            }
        }
    }
}

// ------- Desktop -------

.header {
    background-color: #121617;
    color: #989898;
    position: relative;
    transition: 0.2s all;
    .header-row {
        border-bottom: 2px solid #4ebd09;
        padding: 25px 36px;
        padding-bottom: 23px;
        align-items: center;
        justify-content: space-between;
    }
    .header-menu {
        gap: 40px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        .header-menu-item {
            cursor: pointer;
        }
    }
    .animated-btn {
        @include animatedButton(176px, 48px, 16px);
    }
    .burger-menu {
        position: absolute;
        z-index: 900;
        top: 120px;
        left: 0px;
        width: 100%;
        color: #0d1a30;
        background-color: white;
        padding: 24px 0px 54px;
        text-align: center;
        transition: 0.2s all;
        filter: blur(0px);
        .burger-menu-item {
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0em;
            margin-bottom: 32px;
        }
        .button-wrapper {
            display: flex;
            justify-content: center;
            padding-top: 50px;
            > button {
                background: linear-gradient(
                    297.99deg,
                    #49be01 -14.48%,
                    #99ff48 110.19%
                );
                color: #ffffff;
                border: none;
                &:active {
                    background: linear-gradient(
                        297.99deg,
                        #348600 -14.48%,
                        #5fc50b 110.19%
                    );
                }
            }
        }
    }
}
.burger-menu-bg {
    position: absolute;
    top: 150px;
    left: -10px;
    height: 100vh;
    width: 100vh;
    visibility: hidden;
    opacity: 0;
    background-color: #000000b2;
    z-index: -1;
}
.blur {
    filter: blur(3px);
    opacity: 1;
    visibility: visible;
}
.opened-burger-menu {
    visibility: visible;
    opacity: 1;
}
.closed-burger-menu {
    visibility: hidden;
    opacity: 0;
}
.white-bg {
    background-color: white;
}

.main {
    .scroll-up-btn {
        position: fixed;
        right: 50px;
        bottom: 50px;
        width: 102px;
        height: 102px;
        border-radius: 50px;
        background-color: #e7462a;
        background-image: url(images/scroll-up-btn.svg);
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s all;
        z-index: 100;
        cursor: pointer;
    }
    .show {
        opacity: 1;
        visibility: visible;
    }
    .hide {
        opacity: 0;
        visibility: hidden;
    }

    .intro-section {
        background-color: #121617;
        padding-top: 40px;
        padding-bottom: 60px;
        color: #ffffff;
        .intro-subtitle {
            font-size: 24px;
            font-weight: 600;
            line-height: 36px;
            letter-spacing: 0em;
            color: #4ebd09;
        }
        .intro-title {
            font-size: 96px;
            font-weight: 600;
            line-height: 96px;
            letter-spacing: -0.05em;
            text-transform: uppercase;
            padding: 24px 0px;
            > span {
                color: #e7462a;
            }
        }
        .intro-text {
            font-size: 24px;
            font-weight: 600;
            line-height: 44px;
            letter-spacing: 0em;
            margin-bottom: 40px;
        }
        .intro-section-img {
            width: 100%;
            > img {
                width: 100%;
                filter: grayscale(100%);
            }
        }
        .intro-content-row {
            margin-top: 40px;
            align-items: center;
            justify-content: space-between;
            .intro-content-item {
                font-size: 20px;
                font-weight: 900;
                line-height: 30px;
                letter-spacing: 0.15em;
                color: #e7462a;
                text-transform: uppercase;
                > span {
                    color: #ffffff;
                }
            }
        }
        .mobile-button-and-text-wrapper {
            display: flex;
            flex-direction: column;
        }
        .animated-btn {
            @include animatedButton(267px, 80px, 24px);
        }
        .btn-laptop-wrapper {
            display: flex;
            justify-content: center;
            margin-top: 40px;
        }
        .animated-btn-laptop {
            display: none;
        }
    }
    .about-section {
        padding-top: 80px;
        color: #121617;
        .about-title {
            font-size: 64px;
            font-weight: 600;
            line-height: 83px;
            letter-spacing: -0.04em;
            margin-bottom: 80px;
        }
        .about-wrapper {
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 40px 50px;
            .about-wrapper-item {
                font-weight: 600;
                > span {
                    color: #4ebd09;
                }
            }
            .about-item-left {
                font-size: 24px;
                line-height: 36px;
                letter-spacing: 0.15em;
            }
            .about-item-right {
                font-size: 20px;
                line-height: 32px;
                letter-spacing: 0em;
            }
        }
        .about-img {
            margin-top: 80px;
            background-image: url(images/about-section-img.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 270px;
        }
    }
    .suitable-section {
        padding-top: 100px;
        padding-bottom: 60px;
        background-color: #2c2c2c;
        color: #989898;
        .suitable-title {
            font-size: 64px;
            font-weight: 600;
            line-height: 83px;
            letter-spacing: -0.04em;
            color: #ffffff;
            width: 60%;
            margin-bottom: 60px;
            > span {
                color: #e7462a;
            }
        }
        .suitable-wrapper {
            width: 70%;
            margin: 0 auto;
            .suitable-subtitle {
                color: #4ebd09;
                font-size: 24px;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: 0.15em;
            }
            .suitable-text {
                font-size: 20px;
                font-weight: 600;
                line-height: 32px;
                letter-spacing: 0em;
                margin: 20px 0px 40px 200px;
            }
            .suitable-text:last-child {
                margin-bottom: 0;
            }
        }
    }
    .aspect-section {
        padding: 40px 0px 60px 0px;
        background-color: #121617;
        color: #ffffff;
        cursor: url(images/cursor.svg), auto;
        .aspect-subtitle {
            font-size: 24px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0.15em;
        }
        .aspect-title {
            font-size: 96px;
            font-weight: 600;
            line-height: 110px;
            letter-spacing: -0.04em;
            margin: 20px 0px 70px 0px;
            > span {
                color: #e7462a;
            }
        }
        .aspect-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr 1fr;
            gap: 16px;
            .aspect-wrapper-item {
                position: relative;
                padding: 35px 30px 40px;
                background-color: #ffffff;
                color: #121617;
                font-size: 30px;
                font-weight: 600;
                line-height: 42px;
                letter-spacing: -0.04em;
                transition: 0.2s all;
                .aspect-wrapper-item-circle {
                    width: 40px;
                    height: 40px;
                    border-radius: 50px;
                    background-color: #e7462a;
                    margin-bottom: 10px;
                    background-size: 60%;
                    position: relative;
                    .aspect-wrapper-item-circle-arrow {
                        background-image: url(images/arrow-up-black.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 20px;
                        height: 20px;
                        transform: rotate(-40deg);
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
                    }
                }
                span {
                    color: #4ebd09;
                }
                &:hover {
                    background-color: #121617;
                    color: white;
                }
                &:hover .aspect-wrapper-item-circle-arrow {
                    background-image: url(images/arrow-up-white.svg);
                }
            }
            .aspect-wrapper-item-btn {
                @include animatedButton(100%, 100%, 32px);
                cursor: url(images/cursor.svg), auto;
                border-radius: 0px;
                border-color: transparent;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #e7462a;
                color: white;
                // cursor: pointer;
            }
        }
    }
    .plan-section {
        padding: 100px 0px;
        color: #121617;
        text-align: center;
        .plan-title {
            text-align: left;
            font-size: 64px;
            font-weight: 600;
            line-height: 83px;
            letter-spacing: -0.04em;
            margin-bottom: 60px;
            .color-green {
                color: #4ebd09;
            }
            .color-red {
                color: #e7462a;
            }
        }
        .plan-wrapper {
            text-align: left;
            width: 70%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 3fr;
            gap: 40px 0px;
            .plan-wrapper-item-step {
                font-size: 24px;
                font-weight: 600;
                line-height: 36px;
                letter-spacing: 0.15em;
                color: #4ebd09;
            }
            .plan-wrapper-item-text-bold {
                font-size: 20px;
                font-weight: 600;
                line-height: 32px;
                letter-spacing: 0em;
            }
            .plan-wrapper-item-text-regular {
                font-size: 20px;
                font-weight: 400;
                line-height: 32px;
                letter-spacing: 0em;
            }
        }
        .plan-btn-wrapper {
            display: flex;
            justify-content: center;
        }
        .animated-btn {
            margin-top: 70px;
            @include animatedButton(176px, 48px, 16px);
        }
        // .plan-btn {
        //     padding: 12px 30px;
        //     background-color: #4ebd09;
        //     border-radius: 50px;
        //     font-size: 16px;
        //     font-weight: 700;
        //     line-height: 24px;
        //     letter-spacing: 0em;
        //     color: white;
        //     border: none;
        //     cursor: pointer;
        // }
    }
    .benefit-section {
        padding: 80px 0px;
        background-color: #121617;
        color: white;
        cursor: url(images/cursor.svg), auto;
        .benefit-subtitle {
            font-size: 24px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0.15em;
        }
        .benefit-title {
            font-size: 96px;
            font-weight: 600;
            line-height: 110px;
            letter-spacing: -0.04em;
            margin-top: 20px;
            margin-bottom: 80px;
            width: 70%;
            > span {
                color: #e7462a;
            }
        }
        .benefit-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 16px;
            .benefit-wrapper-item {
                background-color: white;
                color: #121617;
                padding: 35px 30px 30px 30px;
                transition: 0.2s all;
                .benefit-wrapper-item-circle-wrapper {
                    width: max-content;
                    position: relative;
                    margin-bottom: 10px;
                    .benefit-wrapper-item-circle {
                        width: 40px;
                        height: 40px;
                        border-radius: 50px;
                        background-color: #e7462a;
                    }
                    .benefit-wrapper-item-plus {
                        position: absolute;
                        bottom: -5px;
                        right: -5px;
                        width: 24px;
                        height: 24px;
                        background-image: url(images/plus.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
                .benefit-wrapper-item-title {
                    font-size: 30px;
                    font-weight: 600;
                    line-height: 42px;
                    letter-spacing: -0.04em;
                    margin-bottom: 20px;
                }
                .benefit-wrapper-item-subtitle {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                    letter-spacing: -0.04em;
                    width: 65%;
                }
                &:hover {
                    background-color: #121617;
                    color: white;
                    .benefit-wrapper-item-circle-wrapper {
                        .benefit-wrapper-item-plus {
                            background-image: url(images/plus-white.svg);
                        }
                    }
                }
            }
        }
    }
    .example-section {
        background-color: #121617;
        color: white;
        .example-title {
            font-size: 64px;
            font-weight: 600;
            line-height: 83px;
            letter-spacing: -0.04em;
            padding-bottom: 40px;
            > span {
                color: #4ebd09;
            }
        }
        .example-section-slider {
            .slider-item {
                margin: 0px 30px;
                width: 1440px;
                .example-slider-img-wrapper {
                    max-width: 1440px;
                    > img {
                        width: 100%;
                    }
                }
            }
            .slick-prev:before,
            .slick-next:before {
                content: "";
            }
            .slick-prev,
            .slick-next {
                height: 60px;
                width: 60px;
                border-radius: 50px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 30%;
                background-color: transparent;
                &:active {
                    background-color: #ffffff63;
                }
            }
            .slick-prev {
                left: 50px;
                z-index: 10;
                background-image: url(images/arrow-left.svg);
            }
            .slick-next {
                right: 50px;
                background-image: url(images/arrow-right.svg);
            }
        }
    }
    .numbers-section {
        padding-top: 135px;
        padding-bottom: 70px;
        .numbers-wrapper {
            display: grid;
            grid-template-columns: 2fr 1fr;
            .numbers-wrapper-text {
                padding-left: 100px;
                .numbers-wrapper-text-title {
                    font-size: 64px;
                    font-weight: 600;
                    line-height: 83px;
                    letter-spacing: -0.04em;
                    width: 75%;
                    .color-green {
                        color: #4ebd09;
                    }
                    .color-red {
                        color: #e7462a;
                    }
                }
                .numbers-wrapper-text-subtitle {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 32px;
                    letter-spacing: 0em;
                    color: #989898;
                    padding: 40px 0px;
                    width: 60%;
                }
                .numbers-wrapper-text-btn {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 30px;
                    letter-spacing: 0em;
                    padding: 18px 58px;
                    color: white;
                    background-color: #121617;
                    border-radius: 50px;
                    cursor: pointer;
                    .numbers-wrapper-text-btn-row {
                        align-items: center;
                        gap: 10px;
                        .red-circle {
                            width: 20px;
                            height: 20px;
                            background-color: #e7462a;
                            border-radius: 50px;
                        }
                    }
                }
            }
            .numbers-wrapper-indicators {
                .numbers-wrapper-indicators-item {
                    padding: 50px 53px;
                    background-color: #121617;
                    color: white;
                    margin-bottom: 20px;
                    .numbers-wrapper-indicators-item-row {
                        align-items: center;
                        gap: 40px;
                        .bold-text {
                            font-size: 30px;
                            font-weight: 600;
                            line-height: 30px;
                            letter-spacing: -0.04em;
                            margin-bottom: 10px;
                        }
                        .regular-text {
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 16px;
                            letter-spacing: 0em;
                        }
                    }
                    .numbers-wrapper-indicators-item-circle {
                        min-width: 40px;
                        min-height: 40px;
                        background-color: #e7462a;
                        border-radius: 50px;
                        border: none;
                        background-image: url(images/arrow-up-white.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 50%;
                        transform: rotate(140deg);
                    }
                }
            }
        }
    }
    .companies-section {
        background-color: #121617;
        color: white;
        padding-top: 90px;
        padding-bottom: 50px;
        .companies-title {
            font-size: 64px;
            font-weight: 600;
            line-height: 83px;
            letter-spacing: -0.04em;
            margin-bottom: 40px;
            .color-green {
                color: #4ebd09;
            }
            .color-red {
                color: #e7462a;
            }
        }
        .companies-slider {
            .slider-item {
                width: 180px;
                height: 180px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 80%;
                margin: 0px 50px;
            }
            .slider-item-1 {
                background-image: url(images/companies-logo-1.svg);
            }
            .slider-item-2 {
                background-image: url(images/companies-logo-2.svg);
            }
            .slider-item-3 {
                background-image: url(images/companies-logo-3.svg);
            }
            .slider-item-4 {
                background-image: url(images/companies-logo-4.svg);
            }
            .slider-item-5 {
                background-image: url(images/companies-logo-5.svg);
            }
            .slider-item-6 {
                background-image: url(images/companies-logo-6.svg);
            }
            .slider-item-7 {
                background-image: url(images/companies-logo-7.svg);
            }
            .slider-item-8 {
                background-image: url(images/companies-logo-8.svg);
            }
            .slider-item-9 {
                background-image: url(images/companies-logo-9.svg);
            }
            .slider-item-10 {
                background-image: url(images/companies-logo-10.svg);
            }
            .slider-item-11 {
                background-image: url(images/companies-logo-11.svg);
            }
            .slider-item-12 {
                background-image: url(images/companies-logo-12.svg);
            }
            .slider-item-13 {
                background-image: url(images/companies-logo-13.svg);
            }
            .slider-item-14 {
                background-image: url(images/companies-logo-14.svg);
            }
            .slider-item-15 {
                background-image: url(images/companies-logo-15.svg);
            }
            .slider-item-16 {
                background-image: url(images/companies-logo-16.svg);
            }
            .slider-item-17 {
                background-image: url(images/companies-logo-17.svg);
            }
            .slider-item-18 {
                background-image: url(images/companies-logo-18.svg);
            }
            .slider-item-19 {
                background-image: url(images/companies-logo-19.svg);
            }
            .slider-item-20 {
                background-image: url(images/companies-logo-20.svg);
            }
            .slider-item-21 {
                background-image: url(images/companies-logo-21.svg);
            }
            .slider-item-22 {
                background-image: url(images/companies-logo-22.svg);
            }
            .slider-item-23 {
                background-image: url(images/companies-logo-23.svg);
            }
            .slider-item-24 {
                background-image: url(images/companies-logo-24.svg);
            }
            .slider-item-25 {
                background-image: url(images/companies-logo-25.svg);
            }
            .slider-item-26 {
                background-image: url(images/companies-logo-26.svg);
            }
            .slider-item-27 {
                background-image: url(images/companies-logo-27.svg);
            }
            .slider-item-28 {
                background-image: url(images/companies-logo-28.svg);
            }
            .slider-item-29 {
                background-image: url(images/companies-logo-29.svg);
            }
            .slider-item-30 {
                background-image: url(images/companies-logo-30.svg);
            }
        }
    }
    .form-section {
        padding: 60px 0px;
        text-align: center;
        .form-title {
            font-size: 64px;
            font-weight: 600;
            line-height: 83px;
            letter-spacing: -0.04em;
            color: #121617;
            text-align: left;
            width: 68%;
            margin: 0 auto;
            > span {
                color: #e7462a;
            }
        }
        .form-subtitle {
            font-size: 20px;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: 0em;
            margin-top: 60px;
            margin-bottom: 40px;
            > span {
                color: #4ebd09;
            }
        }
        .form {
            width: 50%;
            margin: 0 auto;
            padding: 0px 100px;
            .form-input-label-wrapper {
                text-align: left;
                > label {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0em;
                    color: #121617;
                }
            }
            .form-input {
                width: 100%;
                height: 48px;
                border: none;
                border-bottom: 1px solid #2c2c2c;
                margin-bottom: 20px;
                font-size: 16px;
                font-weight: 300;
                line-height: 24px;
                letter-spacing: 0em;
                color: #989898;
            }
            .form-input::placeholder {
                font-family: "Poppins", sans-serif;
                font-size: 16px;
                font-weight: 300;
                line-height: 24px;
                letter-spacing: 0em;
                color: #989898;
            }
            .form-input:focus-visible,
            .form-input:focus {
                outline: none;
                border-bottom: 1px solid #4ebd09;
            }
            .btn-wrapper {
                display: flex;
                justify-content: center;
            }
            .animated-btn {
                margin-top: 40px;
                @include animatedButton(176px, 48px, 16px);
            }
            // .form-btn {
            //     margin-top: 20px;
            //     font-size: 16px;
            //     font-weight: 700;
            //     line-height: 24px;
            //     letter-spacing: 0em;
            //     color: white;
            //     padding: 12px 15px;
            //     background-color: #4ebd09;
            //     border: none;
            //     border-radius: 50px;
            //     cursor: pointer;
            // }
        }
    }
    .review-section {
        background-color: #2c2c2c;
        color: white;
        padding-top: 80px;
        padding-bottom: 60px;
        position: relative;
        .review-title {
            font-size: 64px;
            font-weight: 600;
            line-height: 83px;
            letter-spacing: -0.04em;
            margin-bottom: 60px;
        }
        .review-slider {
            position: static;
            .review-item {
                background: linear-gradient(
                        117.26deg,
                        rgba(216, 216, 216, 0) 0%,
                        rgba(216, 216, 216, 0) 100%
                    ),
                    linear-gradient(0deg, #ffffff, #ffffff);
                border: 1px solid;
                border-image-source: linear-gradient(
                    117.26deg,
                    rgba(216, 216, 216, 0) 0%,
                    rgba(216, 216, 216, 0) 100%
                );
                padding: 24px 20px;
                border-radius: 4px;
                margin: 0px 10px;
                .user-img-and-quote-row {
                    justify-content: space-between;
                }
                .user-img {
                    width: 60px;
                    height: 60px;
                    border-radius: 50px;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                .user-img-1 {
                    background-image: url(images/user-img-1.svg);
                }
                .user-img-2 {
                    background-image: url(images/user-img-2.svg);
                }
                .user-img-3 {
                    background-image: url(images/user-img-3.svg);
                }
                .user-img-4 {
                    background-image: url(images/user-img-4.svg);
                }
                .user-img-5 {
                    background-image: url(images/user-img-5.svg);
                }
                .user-img-6 {
                    background-image: url(images/user-img-6.svg);
                }
                .user-img-7 {
                    background-image: url(images/user-img-7.svg);
                }
                .quote-img {
                    hanging-punctuation: 20px;
                    width: 20px;
                    background-image: url(images/icon-quote.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                }
                .user-name {
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 18px;
                    letter-spacing: 0px;
                    color: #323232;
                    margin: 10px 0px;
                }
                .rate {
                    background-image: url(images/icon-rating.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 94px;
                    height: 14px;
                    margin-bottom: 10px;
                }
                .user-review {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 25px;
                    letter-spacing: 0px;
                    color: #989898;
                }
            }
            .slick-prev:before,
            .slick-next:before {
                content: "";
            }
            .slick-prev,
            .slick-next {
                top: 125px;
                width: 50px;
                height: 50px;
                background-color: #ffffff;
                border-radius: 50px;
                background-position: center;
                background-repeat: no-repeat;
            }
            .slick-prev {
                left: auto;
                right: 155px;
                background-image: url(images/arrow-left-black.svg);
                &:active {
                    background-image: url(images/arrow-left-white.svg);
                    background-color: #e7462a;
                }
            }
            .slick-next {
                right: 85px;
                background-image: url(images/arrow-right-black.svg);
                &:active {
                    background-image: url(images/arrow-right-white.svg);
                    background-color: #e7462a;
                }
            }
        }
    }
}

.footer {
    background-color: #121617;
    color: #ffffff;
    padding: 80px 0px;
    .footer-content-row {
        display: grid;
        grid-template-columns: repeat(3, 1fr) 1.5fr;
        gap: 40px;
        .footer-logo {
            margin-bottom: 40px;
        }
        .footer-subtitle {
            font-size: 32px;
            font-weight: 400;
            line-height: 48px;
            letter-spacing: 0em;
            margin-bottom: 24px;
        }
        .footer-text {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            opacity: 0.8;
            margin-bottom: 24px;
        }
        .footer-link {
            text-decoration: none;
            color: white;
            display: block;
        }
    }
    .footer-form {
        background-color: #1e2425;
        padding: 20px 24px;
        justify-content: space-between;
        .footer-email {
            border: none;
            background-color: transparent;
            color: #ffffff;
            width: 80%;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            &:focus,
            &:focus-visible {
                outline: none;
            }
            &::placeholder {
                color: #ffffff;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
            }
        }
        .footer-form-btn {
            background-color: transparent;
            width: 22px;
            height: 22px;
            border: none;
            background-image: url(images/send-img.svg);
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
        }
    }
    .footer-btns-row {
        margin-top: 24px;
        gap: 16px;
        justify-content: flex-end;
        .footer-btn {
            width: 40px;
            height: 40px;
            background-color: #1e2425;
            border-radius: 50px;
            border: none;
            cursor: pointer;
            background-position: center;
            background-repeat: no-repeat;
        }
        .footer-btn-telegram {
            background-image: url(images/telegram-icon.svg);
        }
        .footer-btn-youtube {
            background-image: url(images/youtube-icon.svg);
        }
        .footer-btn-instagram {
            background-image: url(images/instagram-icon.svg);
        }
    }
}

// --- disable hover on touch devices ---

@media (hover: hover) {
    .header {
        .header-menu {
            .header-menu-item {
                transition: 0.2s all;
                &:hover {
                    color: #ffffff;
                }
            }
        }
    }

    .main {
        .intro-section {
            .intro-section-img {
                > img {
                    transition: 0.2s all;
                    &:hover {
                        filter: grayscale(0%);
                    }
                }
            }
            .intro-content-row {
                .intro-btn {
                    transition: 0.2s all;
                    &:hover {
                        box-shadow: 0 0 10px 0 #49be01 inset,
                            0 0 30px 5px #49be01;
                    }
                }
            }
        }
        .aspect-section {
            .aspect-wrapper {
                .aspect-wrapper-item-btn {
                    &:hover {
                        border-color: #49be01;
                    }
                }
            }
        }
        .plan-section {
            // .plan-btn {
            //     transition: 0.2s all;
            //     &:hover {
            //         box-shadow: 0 0 10px 0 #49be01 inset, 0 0 20px 3px #49be01;
            //     }
            // }
            .animated-btn {
                &:hover {
                    color: #ffffff;
                }
            }
        }
        .numbers-section {
            .numbers-wrapper {
                .numbers-wrapper-text {
                    .numbers-wrapper-text-btn {
                        &:hover .red-circle {
                            // background-color: #4ebd09;
                            animation: 1s ease-in-out 0s infinite alternate
                                colorChange;
                        }

                        .numbers-wrapper-text-btn-row {
                            .red-circle {
                                transition: 0.2s all;
                            }
                        }
                    }
                }
            }
        }
        .form-section {
            .form {
                // .form-btn {
                //     transition: 0.2s all;
                //     &:hover {
                //         box-shadow: 0 0 10px 0 #49be01 inset,
                //             0 0 20px 3px #49be01;
                //     }
                // }
                .animated-btn {
                    &:hover {
                        color: #ffffff;
                    }
                }
            }
        }
    }

    .footer {
        .footer-content-row {
            .footer-link {
                transition: 0.2s all;
                &:hover {
                    opacity: 1;
                }
            }
        }
        .footer-btns-row {
            .footer-btn {
                transition: 0.2s all;
                &:hover {
                    transform: scale(110%);
                }
            }
        }
    }
}

// ------- Laptop -------

@media (max-width: 1200px) {
    .main {
        .intro-section {
            .intro-title {
                font-size: 80px;
            }
            .animated-btn {
                display: none;
            }
            .animated-btn-laptop {
                display: block;
            }
        }
        .aspect-section {
            .aspect-title {
                font-size: 80px;
            }
        }
        .suitable-section {
            .suitable-title {
                width: 85%;
            }
        }
        .aspect-section {
            .aspect-wrapper {
                .aspect-wrapper-item {
                    font-size: 26px;
                }
            }
        }
        .benefit-section {
            .benefit-title {
                width: 85%;
            }
        }
        .numbers-section {
            .numbers-wrapper {
                .numbers-wrapper-text {
                    padding-left: 0;
                }
            }
        }
        .form-section {
            .form {
                padding: 0px;
            }
        }
    }

    .footer {
        .footer-content-row {
            grid-template-columns: 1fr 2fr;
        }
    }
}

// -------  Tablet -------

@media (max-width: 992px) {
    .header {
        position: fixed;
        width: 100%;
        z-index: 1000;
        padding-bottom: 10px;
        .header-row {
            justify-content: center;
            .header-menu {
                display: none;
            }
            .animated-btn {
                display: none;
            }
        }
    }

    .main {
        .intro-section {
            padding-top: 130px;
            .intro-title {
                font-size: 64px;
                line-height: 84px;
            }
            .intro-section-img {
                > img {
                    filter: grayscale(0);
                }
            }
            .intro-content-row {
                flex-direction: column;
                margin-top: 24px;
                gap: 16px;
            }
            .btn-laptop-wrapper {
                margin-top: 24px;
            }
            .mobile-button-and-text-wrapper {
                flex-direction: column-reverse;
                gap: 32px;
            }
            .animated-btn-laptop {
                background: linear-gradient(
                    297.99deg,
                    #49be01 -14.48%,
                    #99ff48 110.19%
                );
                color: #121617;
                &:active {
                    background: linear-gradient(
                        297.99deg,
                        #348600 -14.48%,
                        #5fc50b 110.19%
                    );
                }
            }
        }
        .about-section {
            .about-title {
                font-size: 62px;
            }
            .about-wrapper {
                grid-template-columns: 1fr;
            }
        }
        .suitable-section {
            overflow: hidden;
            .suitable-title {
                width: 100%;
                font-size: 57px;
            }
            .suitable-wrapper {
                width: 100%;
                .suitable-text {
                    margin-left: 0;
                }
            }
        }
        .aspect-section {
            .aspect-wrapper {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(6, 1fr);
            }
            .aspect-title {
                font-size: 57px;
                line-height: 67px;
            }
        }
        .plan-section {
            overflow: hidden;
            .plan-wrapper {
                width: 100%;
            }
            .animated-btn {
                background: linear-gradient(
                    297.99deg,
                    #49be01 -14.48%,
                    #99ff48 110.19%
                );
                color: #ffffff;
                border: none;
                &:active {
                    background: linear-gradient(
                        297.99deg,
                        #348600 -14.48%,
                        #5fc50b 110.19%
                    );
                }
            }
        }
        .benefit-section {
            .benefit-title {
                width: 100%;
                font-size: 64px;
                line-height: 74px;
            }
            .benefit-wrapper {
                grid-template-columns: 1fr;
            }
        }
        .numbers-section {
            overflow: hidden;
            .numbers-wrapper {
                grid-template-columns: 1fr;
                gap: 24px;
                .numbers-wrapper-text {
                    .numbers-wrapper-text-title {
                        width: 100%;
                        font-size: 64px;
                        line-height: 74px;
                    }
                    .numbers-wrapper-text-btn {
                        &:active .red-circle {
                            background-color: #49be01;
                        }
                    }
                }
            }
        }
        .form-section {
            .form-title {
                width: 100%;
                text-align: center;
                font-size: 57px;
                line-height: 67px;
            }
            .form {
                width: 100%;
                .animated-btn {
                    background: linear-gradient(
                        297.99deg,
                        #49be01 -14.48%,
                        #99ff48 110.19%
                    );
                    color: #ffffff;
                    border: none;
                    &:active {
                        background: linear-gradient(
                            297.99deg,
                            #348600 -14.48%,
                            #5fc50b 110.19%
                        );
                    }
                }
            }
        }
        .review-section {
            .review-title {
                width: 80%;
            }
            .review-slider {
                .slick-prev {
                    right: 90px;
                }
                .slick-next {
                    right: 20px;
                }
            }
        }
    }
}

// ------- Mobile -------

@media (max-width: 576px) {
    .container {
        padding: 0 16px;
    }

    .header {
        .header-row {
            padding-top: 7px;
            padding-bottom: 7px;
            margin: 0px 20px;
            img {
                height: 44px;
            }
        }
        .burger-menu {
            top: 70px;
        }
    }

    .main {
        .scroll-up-btn {
            width: 60px;
            height: 60px;
            background-size: 50%;
            right: 25px;
            bottom: 25px;
        }

        .intro-section {
            padding-top: 70px;
            padding-bottom: 0px;
            overflow: hidden;
            text-align: center;
            .intro-subtitle {
                font-size: 16px;
                line-height: 16px;
            }
            .intro-title {
                padding-top: 20px;
                padding-bottom: 24px;
                font-size: 30px;
                line-height: 30px;
            }
            .intro-text {
                font-size: 16px;
                line-height: 28px;
                margin-bottom: 0px;
            }
            .intro-section-img {
                height: 240px;
                padding: 0px 0px;
                width: 107%;
                overflow: hidden;
                margin-left: -16px;
                > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .about-section {
            padding-top: 40px;
            .about-title {
                font-size: 32px;
                line-height: 42px;
                margin-bottom: 44px;
            }
            .about-wrapper {
                gap: 16px;
                .about-item-left {
                    font-size: 20px;
                    line-height: 30px;
                }
                .about-item-right {
                    font-size: 16px;
                    line-height: 32px;
                    margin-bottom: 8px;
                }
            }
            .about-img {
                margin-top: 24px;
                height: 200px;
            }
        }
        .suitable-section {
            padding-top: 42px;
            padding-bottom: 37px;
            .suitable-title {
                font-size: 32px;
                line-height: 42px;
                margin-bottom: 24px;
            }
            .suitable-wrapper {
                .suitable-subtitle {
                    font-size: 20px;
                    line-height: 30px;
                }
                .suitable-text {
                    font-size: 16px;
                    line-height: 32px;
                    margin-top: 16px;
                    margin-bottom: 32px;
                }
            }
        }
        .aspect-section {
            padding-top: 42px;
            padding-bottom: 16px;
            .aspect-subtitle {
                font-size: 16px;
                line-height: 16px;
            }
            .aspect-title {
                font-size: 36px;
                line-height: 46px;
                margin-top: 8px;
                margin-bottom: 24px;
            }
            .aspect-wrapper {
                grid-template-rows: repeat(6, 220px);
                .aspect-wrapper-item {
                    font-size: 20px;
                    line-height: 32px;
                }
                .aspect-wrapper-item-btn {
                    font-size: 30px;
                }
            }
        }
        .plan-section {
            padding-top: 42px;
            padding-bottom: 36px;
            .plan-title {
                font-size: 32px;
                line-height: 42px;
                margin-bottom: 24px;
            }
            .plan-wrapper {
                grid-template-columns: 1fr;
                gap: 16px;
                .plan-wrapper-item-step {
                    font-size: 20px;
                    line-height: 20px;
                }
                .plan-wrapper-item-text-bold,
                .plan-wrapper-item-text-regular {
                    font-size: 16px;
                    line-height: 26px;
                }
                .plan-wrapper-item-text-regular {
                    margin-bottom: 16px;
                }
            }
            .animated-btn {
                margin-top: 32px;
            }
        }
        .benefit-section {
            padding-top: 42px;
            padding-bottom: 32px;
            .benefit-subtitle {
                font-size: 16px;
                line-height: 16px;
            }
            .benefit-title {
                font-size: 36px;
                line-height: 46px;
                margin-bottom: 32px;
            }
            .benefit-wrapper {
                .benefit-wrapper-item {
                    .benefit-wrapper-item-title {
                        font-size: 24px;
                        line-height: 34px;
                    }
                    .benefit-wrapper-item-subtitle {
                        font-size: 16px;
                        line-height: 26px;
                    }
                }
            }
        }
        .example-section {
            .example-title {
                font-size: 32px;
                line-height: 42px;
                padding-bottom: 23px;
            }
            .example-section-slider {
                .slider-item {
                    margin: 0px;
                    max-height: 250px;
                    width: auto;
                    .example-slider-img-wrapper {
                        display: block;
                        height: 250px;
                        // width: auto;
                        > img {
                            height: 100%;
                            width: auto;
                        }
                    }
                }
                .slick-prev,
                .slick-next {
                    height: 40px;
                    width: 40px;
                }
                .slick-prev {
                    left: 0px;
                }
                .slick-next {
                    right: 0px;
                }
            }
        }
        .numbers-section {
            padding-top: 42px;
            padding-bottom: 0px;
            .numbers-wrapper {
                .numbers-wrapper-text {
                    .numbers-wrapper-text-title {
                        font-size: 32px;
                        line-height: 42px;
                    }
                    .numbers-wrapper-text-subtitle {
                        font-size: 16px;
                        line-height: 26px;
                        padding: 24px 0px;
                    }
                    .numbers-wrapper-text-btn {
                        width: 100%;
                        .numbers-wrapper-text-btn-row {
                            justify-content: center;
                        }
                    }
                }
                .numbers-wrapper-indicators {
                    .numbers-wrapper-indicators-item {
                        padding: 50px 30px;
                    }
                }
            }
        }
        .companies-section {
            padding-top: 42px;
            padding-bottom: 30px;
            .companies-title {
                font-size: 32px;
                line-height: 42px;
            }
            .companies-slider {
                .slider-item {
                    width: 100px;
                    height: 100px;
                    margin: 0px 30px;
                    background-size: contain;
                }
            }
        }
        .form-section {
            padding-top: 32px;
            padding-bottom: 42px;
            .form-title {
                font-size: 32px;
                line-height: 42px;
            }
            .form-subtitle {
                font-size: 16px;
                line-height: 26px;
                margin: 16px 0px;
            }
            .form {
                .animated-btn {
                    margin-top: 32px;
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
        .review-section {
            padding-top: 42px;
            padding-bottom: 18px;
            .review-title {
                font-size: 32px;
                line-height: 42px;
                width: 75%;
            }
            .review-slider {
                .slick-next,
                .slick-prev {
                    width: 44px;
                    height: 44px;
                    top: 65px;
                }
                .slick-prev {
                    right: 60px;
                }
                .slick-next {
                    right: 10px;
                }
            }
        }
    }

    .footer {
        padding-top: 42px;
        padding-bottom: 28px;
        .footer-content-row {
            grid-template-columns: 1fr;
            gap: 32px;
            .footer-logo {
                margin-bottom: 16px;
            }
            .footer-text:last-child {
                margin-bottom: 0;
            }
            .footer-row-item:last-child {
                margin-top: 24px;
            }
        }
        .footer-btns-row {
            justify-content: center;
        }
    }
}
