@use "reset";

// ------- Global params -------

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.row {
    display: flex;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 82px;
}

// ------- Desktop -------

.header {
    background-color: #121617;
    color: #989898;
    .header-row {
        border-bottom: 2px solid #4ebd09;
        padding: 25px 36px;
        padding-bottom: 23px;
        align-items: center;
        justify-content: space-between;
    }
    .heaader-menu {
        gap: 40px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        .header-menu-item {
            cursor: pointer;
        }
    }
    .registration-btn {
        color: #4ebd09;
        background-color: transparent;
        border-radius: 50px;
        border: 1px solid #4ebd09;
        padding: 12px 42px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        cursor: pointer;
    }
}

.main {
    .intro-section {
        background-color: #121617;
        padding-top: 40px;
        padding-bottom: 60px;
        color: #ffffff;
        .intro-subtitle {
            font-size: 24px;
            font-weight: 600;
            line-height: 36px;
            letter-spacing: 0em;
            color: #4ebd09;
        }
        .intro-title {
            font-size: 96px;
            font-weight: 600;
            line-height: 96px;
            letter-spacing: -0.05em;
            text-transform: uppercase;
            padding: 24px 0px;
            > span {
                color: #fa2702;
            }
        }
        .intro-text {
            font-size: 24px;
            font-weight: 600;
            line-height: 44px;
            letter-spacing: 0em;
            margin-bottom: 40px;
        }
        .intro-section-img {
            width: 100%;
            > img {
                width: 100%;
            }
        }
        .intro-content-row {
            margin-top: 40px;
            align-items: center;
            justify-content: space-between;
            .intro-btn {
                border-radius: 50px;
                border: none;
                background-image: linear-gradient(
                    297.99deg,
                    #49be01 -14.48%,
                    #99ff48 110.19%
                );
                color: #121617;
                font-size: 24px;
                font-weight: 700;
                line-height: 36px;
                letter-spacing: 0em;
                padding: 22px 27px;
                cursor: pointer;
            }
            .intro-content-item {
                font-size: 20px;
                font-weight: 900;
                line-height: 30px;
                letter-spacing: 0.15em;
                color: #fa2702;
                text-transform: uppercase;
                > span {
                    color: #ffffff;
                }
            }
        }
    }
    .about-section {
        padding-top: 80px;
        color: #121617;
        .about-title {
            font-size: 64px;
            font-weight: 600;
            line-height: 83px;
            letter-spacing: -0.04em;
            margin-bottom: 80px;
        }
        .about-wrapper {
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 40px 50px;
            .about-wrapper-item {
                font-weight: 600;
                > span {
                    color: #4ebd09;
                }
            }
            .about-item-left {
                font-size: 24px;
                line-height: 36px;
                letter-spacing: 0.15em;
            }
            .about-item-right {
                font-size: 20px;
                line-height: 32px;
                letter-spacing: 0em;
            }
        }
        .about-img {
            margin-top: 80px;
            background-image: url(images/about-section-img.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 270px;
        }
    }
    .suitable-section {
        padding-top: 100px;
        padding-bottom: 60px;
        background-color: #2c2c2c;
        color: #989898;
        .suitable-title {
            font-size: 64px;
            font-weight: 600;
            line-height: 83px;
            letter-spacing: -0.04em;
            color: #ffffff;
            width: 60%;
            margin-bottom: 60px;
            > span {
                color: #4ebd09;
            }
        }
        .suitable-wrapper {
            width: 70%;
            margin: 0 auto;
            .suitable-subtitle {
                color: #fa2702;
                font-size: 24px;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: 0.15em;
            }
            .suitable-text {
                font-size: 20px;
                font-weight: 600;
                line-height: 32px;
                letter-spacing: 0em;
                margin: 20px 0px 40px 200px;
            }
            .suitable-text:last-child {
                margin-bottom: 0;
            }
        }
    }
    .aspect-section {
        padding: 40px 0px 60px 0px;
        background-color: #121617;
        color: #ffffff;
        .aspect-subtitle {
            font-size: 24px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0.15em;
        }
        .aspect-title {
            font-size: 96px;
            font-weight: 600;
            line-height: 110px;
            letter-spacing: -0.04em;
            margin: 20px 0px 70px 0px;
            > span {
                color: #fa2702;
            }
        }
        .aspect-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr 1fr;
            gap: 16px;
            .aspect-wrapper-item {
                position: relative;
                padding: 35px 30px 40px;
                background-color: #ffffff;
                color: #121617;
                font-size: 30px;
                font-weight: 600;
                line-height: 42px;
                letter-spacing: -0.04em;
                .aspect-wrapper-item-circle {
                    width: 40px;
                    height: 40px;
                    border-radius: 50px;
                    background-color: #fa2702;
                    margin-bottom: 10px;
                }
                span {
                    color: #4ebd09;
                }
                .aspect-item-circle-fixed {
                    position: absolute;
                    bottom: -40px;
                    right: 40px;
                    width: 102px;
                    height: 102px;
                    background-color: #fa2702;
                    border-radius: 50px;
                    background-image: url(images/arrow-up-left.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    z-index: 10;
                }
            }
            .aspect-wrapper-item:nth-child(2) {
                background-color: #121617;
                color: white;
            }
            .aspect-wrapper-item-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #fa2702;
                color: white;
                cursor: pointer;
            }
        }
    }
    .plan-section {
        padding: 100px 0px;
        color: #121617;
        text-align: center;
        .plan-title {
            text-align: left;
            font-size: 64px;
            font-weight: 600;
            line-height: 83px;
            letter-spacing: -0.04em;
            margin-bottom: 60px;
            .color-green {
                color: #4ebd09;
            }
            .color-red {
                color: #fa2702;
            }
        }
        .plan-wrapper {
            text-align: left;
            width: 70%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 3fr;
            gap: 40px 0px;
            .plan-wrapper-item-step {
                font-size: 24px;
                font-weight: 600;
                line-height: 36px;
                letter-spacing: 0.15em;
                color: #4ebd09;
            }
            .plan-wrapper-item-tex-bold {
                font-size: 20px;
                font-weight: 600;
                line-height: 32px;
                letter-spacing: 0em;
            }
            .plan-wrapper-item-tex-regular {
                font-size: 20px;
                font-weight: 400;
                line-height: 32px;
                letter-spacing: 0em;
            }
        }
        .plan-btn {
            margin-top: 70px;
            padding: 12px 30px;
            background-color: #4ebd09;
            border-radius: 50px;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0em;
            color: white;
            border: none;
            cursor: pointer;
        }
    }
    .benefit-section {
        padding: 80px 0px;
        background-color: #121617;
        color: white;
        .benefit-subtitle {
            font-size: 24px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0.15em;
        }
        .benefit-title {
            font-size: 96px;
            font-weight: 600;
            line-height: 110px;
            letter-spacing: -0.04em;
            margin-top: 20px;
            margin-bottom: 80px;
            width: 70%;
            > span {
                color: #fa2702;
            }
        }
        .benefit-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 16px;
            .benefit-wrapper-item {
                background-color: white;
                color: #121617;
                padding: 35px 30px 30px 30px;
                .benefit-wrapper-item-circle-wrapper {
                    width: max-content;
                    position: relative;
                    margin-bottom: 10px;
                    .benefit-wrapper-item-circle {
                        width: 40px;
                        height: 40px;
                        border-radius: 50px;
                        background-color: #fa2702;
                    }
                    .benefit-wrapper-item-plus {
                        position: absolute;
                        bottom: -5px;
                        right: -5px;
                        width: 24px;
                        height: 24px;
                        background-image: url(images/plus.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
                .benefit-wrapper-item-title {
                    font-size: 30px;
                    font-weight: 600;
                    line-height: 42px;
                    letter-spacing: -0.04em;
                    margin-bottom: 20px;
                }
                .benefit-wrapper-item-subtitle {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                    letter-spacing: -0.04em;
                    width: 65%;
                }
            }
            .benefit-wrapper-item:nth-child(2) {
                position: relative;
                background-color: #121617;
                color: white;
                .benefit-wrapper-item-circle-wrapper {
                    .benefit-wrapper-item-plus {
                        background-image: url(images/plus-white.svg);
                    }
                }
                .benefit-wrapper-item-circle-fixed {
                    position: absolute;
                    bottom: -40px;
                    right: 20px;
                    width: 102px;
                    height: 102px;
                    background-color: #fa2702;
                    border-radius: 50%;
                    background-image: url(images/arrow-up-left.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }
    }
    .example-section {
        background-color: #121617;
        color: white;
        .example-title {
            font-size: 64px;
            font-weight: 600;
            line-height: 83px;
            letter-spacing: -0.04em;
            padding-bottom: 40px;
            > span {
                color: #4ebd09;
            }
        }
        .example-section-slider {
            .slider-item {
                // max-width: 1440px;
                margin: 0px 30px;
                // margin: 0 auto;
                > img {
                    width: 100vh;
                }
            }
            .slick-prev:before,
            .slick-next:before {
                content: "";
            }
            .slick-prev,
            .slick-next {
                height: 60px;
                width: 60px;
                background-position: center;
                background-repeat: no-repeat;
            }
            .slick-prev {
                left: 50px;
                z-index: 10;
                background-image: url(images/arrow-left.svg);
            }
            .slick-next {
                right: 50px;
                background-image: url(images/arrow-right.svg);
            }
        }
    }
    .numbers-section {
        padding-top: 135px;
        padding-bottom: 70px;
        .numbers-wrapper {
            display: grid;
            grid-template-columns: 2fr 1fr;
            .numbers-wrapper-text {
                padding-left: 100px;
                .numbers-wrapper-text-title {
                    font-size: 64px;
                    font-weight: 600;
                    line-height: 83px;
                    letter-spacing: -0.04em;
                    width: 75%;
                    .color-green {
                        color: #4ebd09;
                    }
                    .color-red {
                        color: #fa2702;
                    }
                }
                .numbers-wrapper-text-subtitle {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 32px;
                    letter-spacing: 0em;
                    color: #989898;
                    padding: 40px 0px;
                    width: 60%;
                }
                .numbers-wrapper-text-btn {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 30px;
                    letter-spacing: 0em;
                    padding: 18px 58px;
                    color: white;
                    background-color: #121617;
                    border-radius: 50px;
                    cursor: pointer;
                    .numbers-wrapper-text-btn-row {
                        align-items: center;
                        gap: 10px;
                        .red-circle {
                            width: 20px;
                            height: 20px;
                            background-color: #fa2702;
                            border-radius: 50px;
                        }
                    }
                }
            }
            .numbers-wrapper-indicators {
                .numbers-wrapper-indicators-item {
                    padding: 50px 53px;
                    background-color: #121617;
                    color: white;
                    margin-bottom: 20px;
                    .numbers-wrapper-indicators-item-row {
                        align-items: center;
                        gap: 40px;
                        .bold-text {
                            font-size: 30px;
                            font-weight: 600;
                            line-height: 30px;
                            letter-spacing: -0.04em;
                            margin-bottom: 10px;
                        }
                        .regular-text {
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 16px;
                            letter-spacing: 0em;
                        }
                    }
                    .numbers-wrapper-indicators-item-circle {
                        min-width: 40px;
                        min-height: 40px;
                        background-color: #fa2702;
                        border-radius: 50px;
                        background-image: url(images/arrow-up-left.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 70%;
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
    .companies-section {
        background-color: #121617;
        color: white;
        padding-top: 90px;
        padding-bottom: 50px;
        .companies-title {
            font-size: 64px;
            font-weight: 600;
            line-height: 83px;
            letter-spacing: -0.04em;
            margin-bottom: 40px;
            .color-green {
                color: #4ebd09;
            }
            .color-red {
                color: #fa2702;
            }
        }
        .companies-slider {
            .slider-item {
                width: 180px;
                height: 180px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 80%;
                margin: 0px 50px;
            }
            .slider-item-1 {
                background-image: url(images/companies-logo-1.svg);
            }
            .slider-item-2 {
                background-image: url(images/companies-logo-2.svg);
            }
            .slider-item-3 {
                background-image: url(images/companies-logo-3.svg);
            }
            .slider-item-4 {
                background-image: url(images/companies-logo-4.svg);
            }
            .slider-item-5 {
                background-image: url(images/companies-logo-5.svg);
            }
            .slider-item-6 {
                background-image: url(images/companies-logo-6.svg);
            }
            .slider-item-7 {
                background-image: url(images/companies-logo-7.svg);
            }
            .slider-item-8 {
                background-image: url(images/companies-logo-8.svg);
            }
            .slider-item-9 {
                background-image: url(images/companies-logo-9.svg);
            }
            .slider-item-10 {
                background-image: url(images/companies-logo-10.svg);
            }
            .slider-item-11 {
                background-image: url(images/companies-logo-11.svg);
            }
            .slider-item-12 {
                background-image: url(images/companies-logo-12.svg);
            }
            .slider-item-13 {
                background-image: url(images/companies-logo-13.svg);
            }
            .slider-item-14 {
                background-image: url(images/companies-logo-14.svg);
            }
            .slider-item-15 {
                background-image: url(images/companies-logo-15.svg);
            }
            .slider-item-16 {
                background-image: url(images/companies-logo-16.svg);
            }
            .slider-item-17 {
                background-image: url(images/companies-logo-17.svg);
            }
            .slider-item-18 {
                background-image: url(images/companies-logo-18.svg);
            }
            .slider-item-19 {
                background-image: url(images/companies-logo-19.svg);
            }
            .slider-item-20 {
                background-image: url(images/companies-logo-20.svg);
            }
            .slider-item-21 {
                background-image: url(images/companies-logo-21.svg);
            }
            .slider-item-22 {
                background-image: url(images/companies-logo-22.svg);
            }
            .slider-item-23 {
                background-image: url(images/companies-logo-23.svg);
            }
            .slider-item-24 {
                background-image: url(images/companies-logo-24.svg);
            }
            .slider-item-25 {
                background-image: url(images/companies-logo-25.svg);
            }
            .slider-item-26 {
                background-image: url(images/companies-logo-26.svg);
            }
            .slider-item-27 {
                background-image: url(images/companies-logo-27.svg);
            }
            .slider-item-28 {
                background-image: url(images/companies-logo-28.svg);
            }
            .slider-item-29 {
                background-image: url(images/companies-logo-29.svg);
            }
            .slider-item-30 {
                background-image: url(images/companies-logo-30.svg);
            }
        }
    }
    .form-section {
        padding: 60px 0px;
        text-align: center;
        .form-title {
            font-size: 64px;
            font-weight: 600;
            line-height: 83px;
            letter-spacing: -0.04em;
            color: #121617;
            text-align: left;
            width: 68%;
            margin: 0 auto;
            > span {
                color: #fa2702;
            }
        }
        .form-subtitle {
            font-size: 20px;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: 0em;
            margin-top: 60px;
            margin-bottom: 40px;
            > span {
                color: #4ebd09;
            }
        }
        .form {
            width: 50%;
            margin: 0 auto;
            padding: 0px 100px;
            .form-input-label-wrapper {
                text-align: left;
                > label {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0em;
                    color: #121617;
                }
            }
            .form-input {
                width: 100%;
                height: 48px;
                border: none;
                border-bottom: 1px solid #2c2c2c;
                margin-bottom: 20px;
                font-size: 16px;
                font-weight: 300;
                line-height: 24px;
                letter-spacing: 0em;
                color: #989898;
            }
            .form-input::placeholder {
                font-family: "Poppins", sans-serif;
                font-size: 16px;
                font-weight: 300;
                line-height: 24px;
                letter-spacing: 0em;
                color: #989898;
            }
            .form-input:focus-visible,
            .form-input:focus {
                outline: none;
                border-bottom: 1px solid #4ebd09;
            }
            .form-btn {
                margin-top: 20px;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0em;
                color: white;
                padding: 12px 15px;
                background-color: #4ebd09;
                border: none;
                border-radius: 50px;
                cursor: pointer;
            }
        }
    }
    .review-section {
        background-color: #2c2c2c;
        color: white;
        padding-top: 80px;
        padding-bottom: 60px;
        position: relative;
        .review-title {
            font-size: 64px;
            font-weight: 600;
            line-height: 83px;
            letter-spacing: -0.04em;
            margin-bottom: 60px;
        }
        .review-slider {
            position: static;
            .review-item {
                background: linear-gradient(
                        117.26deg,
                        rgba(216, 216, 216, 0) 0%,
                        rgba(216, 216, 216, 0) 100%
                    ),
                    linear-gradient(0deg, #ffffff, #ffffff);
                border: 1px solid;
                border-image-source: linear-gradient(
                    117.26deg,
                    rgba(216, 216, 216, 0) 0%,
                    rgba(216, 216, 216, 0) 100%
                );
                padding: 24px 20px;
                border-radius: 4px;
                margin: 0px 10px;
                .user-img-and-quote-row {
                    justify-content: space-between;
                }
                .user-img {
                    width: 60px;
                    height: 60px;
                    border-radius: 50px;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                .user-img-1 {
                    background-image: url(images/user-img-1.svg);
                }
                .user-img-2 {
                    background-image: url(images/user-img-2.svg);
                }
                .user-img-3 {
                    background-image: url(images/user-img-3.svg);
                }
                .user-img-4 {
                    background-image: url(images/user-img-4.svg);
                }
                .user-img-5 {
                    background-image: url(images/user-img-5.svg);
                }
                .user-img-6 {
                    background-image: url(images/user-img-6.svg);
                }
                .user-img-7 {
                    background-image: url(images/user-img-7.svg);
                }
                .quote-img {
                    hanging-punctuation: 20px;
                    width: 20px;
                    background-image: url(images/icon-quote.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                }
                .user-name {
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 18px;
                    letter-spacing: 0px;
                    color: #323232;
                    margin: 10px 0px;
                }
                .rate {
                    background-image: url(images/icon-rating.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 94px;
                    height: 14px;
                    margin-bottom: 10px;
                }
                .user-review {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 25px;
                    letter-spacing: 0px;
                    color: #989898;
                }
            }
            .slick-prev:before,
            .slick-next:before {
                content: "";
            }
            .slick-prev,
            .slick-next {
                top: 125px;
                width: 50px;
                height: 50px;
                background-color: #ffffff;
                border-radius: 50px;
                background-position: center;
                background-repeat: no-repeat;
            }
            .slick-prev {
                left: auto;
                right: 155px;
                background-image: url(images/arrow-left-black.svg);
                &:active {
                    background-image: url(images/arrow-left-white.svg);
                    background-color: #fa2702;
                }
            }
            .slick-next {
                right: 85px;
                background-image: url(images/arrow-right-black.svg);
                &:active {
                    background-image: url(images/arrow-right-white.svg);
                    background-color: #fa2702;
                }
            }
        }
    }
}

// --- disable hover on touch devices ---

@media (hover: hover) {
    .header {
        .heaader-menu {
            .header-menu-item {
                transition: 0.2s all;
                &:hover {
                    color: #ffffff;
                }
            }
        }
        .registration-btn {
            transition: 0.2s all;
            &:hover {
                background-color: #4ebd0938;
            }
        }
    }

    .main {
        .intro-section {
            .intro-content-row {
                .intro-btn {
                    transition: 0.2s all;
                    &:hover {
                        box-shadow: 0 0 10px 0 #49be01 inset,
                            0 0 30px 5px #49be01;
                    }
                }
            }
        }
        .aspect-section {
            .aspect-wrapper {
                .aspect-wrapper-item-btn {
                    .aspect-wrapper-item-text {
                        transition: 0.2s all;
                    }
                    &:hover .aspect-wrapper-item-text {
                        transform: scale(110%);
                    }
                }
            }
        }
        .plan-section {
            .plan-btn {
                transition: 0.2s all;
                &:hover {
                    box-shadow: 0 0 10px 0 #49be01 inset, 0 0 20px 3px #49be01;
                }
            }
        }
        .numbers-section {
            .numbers-wrapper {
                .numbers-wrapper-text {
                    .numbers-wrapper-text-btn {
                        &:hover .red-circle {
                            background-color: #4ebd09;
                        }
                        .numbers-wrapper-text-btn-row {
                            .red-circle {
                                transition: 0.2s all;
                            }
                        }
                    }
                }
            }
        }
        .form-section {
            .form {
                .form-btn {
                    transition: 0.2s all;
                    &:hover {
                        box-shadow: 0 0 10px 0 #49be01 inset,
                            0 0 20px 3px #49be01;
                    }
                }
            }
        }
    }
}

// ------- Laptop -------

@media (max-width: 1200px) {
}

// -------  Tablet -------

@media (max-width: 992px) {
}

// ------- Mobile -------

@media (max-width: 576px) {
}
