html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.row {
  display: flex;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 82px;
}

.header {
  background-color: #121617;
  color: #989898;
}
.header .header-row {
  border-bottom: 2px solid #4ebd09;
  padding: 25px 36px;
  padding-bottom: 23px;
  align-items: center;
  justify-content: space-between;
}
.header .heaader-menu {
  gap: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
}
.header .heaader-menu .header-menu-item {
  cursor: pointer;
}
.header .registration-btn {
  color: #4ebd09;
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid #4ebd09;
  padding: 12px 42px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.main .intro-section {
  background-color: #121617;
  padding-top: 40px;
  padding-bottom: 60px;
  color: #ffffff;
}
.main .intro-section .intro-subtitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  color: #4ebd09;
}
.main .intro-section .intro-title {
  font-size: 96px;
  font-weight: 600;
  line-height: 96px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  padding: 24px 0px;
}
.main .intro-section .intro-title > span {
  color: #fa2702;
}
.main .intro-section .intro-text {
  font-size: 24px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  margin-bottom: 40px;
}
.main .intro-section .intro-section-img {
  width: 100%;
}
.main .intro-section .intro-section-img > img {
  width: 100%;
}
.main .intro-section .intro-content-row {
  margin-top: 40px;
  align-items: center;
  justify-content: space-between;
}
.main .intro-section .intro-content-row .intro-btn {
  border-radius: 50px;
  border: none;
  background-image: linear-gradient(297.99deg, #49be01 -14.48%, #99ff48 110.19%);
  color: #121617;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  padding: 22px 27px;
  cursor: pointer;
}
.main .intro-section .intro-content-row .intro-content-item {
  font-size: 20px;
  font-weight: 900;
  line-height: 30px;
  letter-spacing: 0.15em;
  color: #fa2702;
  text-transform: uppercase;
}
.main .intro-section .intro-content-row .intro-content-item > span {
  color: #ffffff;
}
.main .about-section {
  padding-top: 80px;
  color: #121617;
}
.main .about-section .about-title {
  font-size: 64px;
  font-weight: 600;
  line-height: 83px;
  letter-spacing: -0.04em;
  margin-bottom: 80px;
}
.main .about-section .about-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px 50px;
}
.main .about-section .about-wrapper .about-wrapper-item {
  font-weight: 600;
}
.main .about-section .about-wrapper .about-wrapper-item > span {
  color: #4ebd09;
}
.main .about-section .about-wrapper .about-item-left {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.15em;
}
.main .about-section .about-wrapper .about-item-right {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0em;
}
.main .about-section .about-img {
  margin-top: 80px;
  background-image: url(images/about-section-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 270px;
}
.main .suitable-section {
  padding-top: 100px;
  padding-bottom: 60px;
  background-color: #2c2c2c;
  color: #989898;
}
.main .suitable-section .suitable-title {
  font-size: 64px;
  font-weight: 600;
  line-height: 83px;
  letter-spacing: -0.04em;
  color: #ffffff;
  width: 60%;
  margin-bottom: 60px;
}
.main .suitable-section .suitable-title > span {
  color: #4ebd09;
}
.main .suitable-section .suitable-wrapper {
  width: 70%;
  margin: 0 auto;
}
.main .suitable-section .suitable-wrapper .suitable-subtitle {
  color: #fa2702;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.15em;
}
.main .suitable-section .suitable-wrapper .suitable-text {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  margin: 20px 0px 40px 200px;
}
.main .suitable-section .suitable-wrapper .suitable-text:last-child {
  margin-bottom: 0;
}
.main .aspect-section {
  padding: 40px 0px 60px 0px;
  background-color: #121617;
  color: #ffffff;
}
.main .aspect-section .aspect-subtitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.15em;
}
.main .aspect-section .aspect-title {
  font-size: 96px;
  font-weight: 600;
  line-height: 110px;
  letter-spacing: -0.04em;
  margin: 20px 0px 70px 0px;
}
.main .aspect-section .aspect-title > span {
  color: #fa2702;
}
.main .aspect-section .aspect-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 16px;
}
.main .aspect-section .aspect-wrapper .aspect-wrapper-item {
  position: relative;
  padding: 35px 30px 40px;
  background-color: #ffffff;
  color: #121617;
  font-size: 30px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: -0.04em;
}
.main .aspect-section .aspect-wrapper .aspect-wrapper-item .aspect-wrapper-item-circle {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #fa2702;
  margin-bottom: 10px;
}
.main .aspect-section .aspect-wrapper .aspect-wrapper-item span {
  color: #4ebd09;
}
.main .aspect-section .aspect-wrapper .aspect-wrapper-item .aspect-item-circle-fixed {
  position: absolute;
  bottom: -40px;
  right: 40px;
  width: 102px;
  height: 102px;
  background-color: #fa2702;
  border-radius: 50px;
  background-image: url(images/arrow-up-left.svg);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
}
.main .aspect-section .aspect-wrapper .aspect-wrapper-item:nth-child(2) {
  background-color: #121617;
  color: white;
}
.main .aspect-section .aspect-wrapper .aspect-wrapper-item-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fa2702;
  color: white;
  cursor: pointer;
}

@media (hover: hover) {
  .header .heaader-menu .header-menu-item {
    transition: 0.2s all;
  }
  .header .heaader-menu .header-menu-item:hover {
    color: #ffffff;
  }
  .header .registration-btn {
    transition: 0.2s all;
  }
  .header .registration-btn:hover {
    background-color: rgba(78, 189, 9, 0.2196078431);
  }
  .main .intro-section .intro-content-row .intro-btn {
    transition: 0.2s all;
  }
  .main .intro-section .intro-content-row .intro-btn:hover {
    box-shadow: 0 0 10px 0 #49be01 inset, 0 0 30px 5px #49be01;
  }
  .main .aspect-section .aspect-wrapper .aspect-wrapper-item-btn .aspect-wrapper-item-text {
    transition: 0.2s all;
  }
  .main .aspect-section .aspect-wrapper .aspect-wrapper-item-btn:hover .aspect-wrapper-item-text {
    transform: scale(110%);
  }
}