html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.row {
  display: flex;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 82px;
}

.disable-scroll {
  overflow: hidden;
}

@keyframes colorChange {
  from {
    background-color: #fa2702;
  }
  to {
    background-color: #4ebd09;
  }
}
.header {
  background-color: #121617;
  color: #989898;
  position: relative;
  transition: 0.2s all;
}
.header .header-row {
  border-bottom: 2px solid #4ebd09;
  padding: 25px 36px;
  padding-bottom: 23px;
  align-items: center;
  justify-content: space-between;
}
.header .header-menu {
  gap: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
}
.header .header-menu .header-menu-item {
  cursor: pointer;
}
.header .animated-btn {
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  line-height: 48px;
  color: black;
  text-align: center;
  transition: 0.5s ease-in-out;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 48px;
  max-width: 176px;
  border: 1px solid currentColor;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0em;
  color: #69c72e;
  z-index: 2;
}
.header .animated-btn span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #4ebd09;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.header .animated-btn:active {
  background-color: #121617;
}
@media (hover: hover) {
  .header .animated-btn:hover {
    color: #121617;
  }
  .header .animated-btn:hover span {
    width: 225%;
    height: 396px;
  }
}
.header .burger-menu {
  position: absolute;
  z-index: 900;
  top: 120px;
  left: 0px;
  width: 100%;
  color: #0d1a30;
  background-color: white;
  padding: 24px 0px 54px;
  text-align: center;
  transition: 0.2s all;
  filter: blur(0px);
}
.header .burger-menu .burger-menu-item {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  margin-bottom: 32px;
}
.header .burger-menu .button-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.header .burger-menu .button-wrapper > button {
  background: linear-gradient(297.99deg, #49be01 -14.48%, #99ff48 110.19%);
  color: #ffffff;
  border: none;
}
.header .burger-menu .button-wrapper > button:active {
  background: linear-gradient(297.99deg, #348600 -14.48%, #5fc50b 110.19%);
}

.burger-menu-bg {
  position: absolute;
  top: 150px;
  left: -10px;
  height: 100vh;
  width: 100vh;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6980392157);
  z-index: -1;
}

.blur {
  filter: blur(3px);
  opacity: 1;
  visibility: visible;
}

.opened-burger-menu {
  visibility: visible;
  opacity: 1;
}

.closed-burger-menu {
  visibility: hidden;
  opacity: 0;
}

.white-bg {
  background-color: white;
}

.main .scroll-up-btn {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 102px;
  height: 102px;
  border-radius: 50px;
  background-color: #fa2702;
  background-image: url(images/scroll-up-btn.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s all;
  z-index: 100;
  cursor: pointer;
}
.main .show {
  opacity: 1;
  visibility: visible;
}
.main .hide {
  opacity: 0;
  visibility: hidden;
}
.main .intro-section {
  background-color: #121617;
  padding-top: 40px;
  padding-bottom: 60px;
  color: #ffffff;
}
.main .intro-section .intro-subtitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  color: #4ebd09;
}
.main .intro-section .intro-title {
  font-size: 96px;
  font-weight: 600;
  line-height: 96px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  padding: 24px 0px;
}
.main .intro-section .intro-title > span {
  color: #fa2702;
}
.main .intro-section .intro-text {
  font-size: 24px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  margin-bottom: 40px;
}
.main .intro-section .intro-section-img {
  width: 100%;
}
.main .intro-section .intro-section-img > img {
  width: 100%;
  filter: grayscale(100%);
}
.main .intro-section .intro-content-row {
  margin-top: 40px;
  align-items: center;
  justify-content: space-between;
}
.main .intro-section .intro-content-row .intro-content-item {
  font-size: 20px;
  font-weight: 900;
  line-height: 30px;
  letter-spacing: 0.15em;
  color: #fa2702;
  text-transform: uppercase;
}
.main .intro-section .intro-content-row .intro-content-item > span {
  color: #ffffff;
}
.main .intro-section .mobile-button-and-text-wrapper {
  display: flex;
  flex-direction: column;
}
.main .intro-section .animated-btn {
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  line-height: 80px;
  color: black;
  text-align: center;
  transition: 0.5s ease-in-out;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 80px;
  max-width: 267px;
  border: 1px solid currentColor;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0em;
  color: #69c72e;
  z-index: 2;
}
.main .intro-section .animated-btn span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #4ebd09;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.main .intro-section .animated-btn:active {
  background-color: #121617;
}
@media (hover: hover) {
  .main .intro-section .animated-btn:hover {
    color: #121617;
  }
  .main .intro-section .animated-btn:hover span {
    width: 225%;
    height: 600.75px;
  }
}
.main .intro-section .btn-laptop-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.main .intro-section .animated-btn-laptop {
  display: none;
}
.main .about-section {
  padding-top: 80px;
  color: #121617;
}
.main .about-section .about-title {
  font-size: 64px;
  font-weight: 600;
  line-height: 83px;
  letter-spacing: -0.04em;
  margin-bottom: 80px;
}
.main .about-section .about-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px 50px;
}
.main .about-section .about-wrapper .about-wrapper-item {
  font-weight: 600;
}
.main .about-section .about-wrapper .about-wrapper-item > span {
  color: #4ebd09;
}
.main .about-section .about-wrapper .about-item-left {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.15em;
}
.main .about-section .about-wrapper .about-item-right {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0em;
}
.main .about-section .about-img {
  margin-top: 80px;
  background-image: url(images/about-section-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 270px;
}
.main .suitable-section {
  padding-top: 100px;
  padding-bottom: 60px;
  background-color: #2c2c2c;
  color: #989898;
}
.main .suitable-section .suitable-title {
  font-size: 64px;
  font-weight: 600;
  line-height: 83px;
  letter-spacing: -0.04em;
  color: #ffffff;
  width: 60%;
  margin-bottom: 60px;
}
.main .suitable-section .suitable-title > span {
  color: #fa2702;
}
.main .suitable-section .suitable-wrapper {
  width: 70%;
  margin: 0 auto;
}
.main .suitable-section .suitable-wrapper .suitable-subtitle {
  color: #4ebd09;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.15em;
}
.main .suitable-section .suitable-wrapper .suitable-text {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  margin: 20px 0px 40px 200px;
}
.main .suitable-section .suitable-wrapper .suitable-text:last-child {
  margin-bottom: 0;
}
.main .aspect-section {
  padding: 40px 0px 60px 0px;
  background-color: #121617;
  color: #ffffff;
  cursor: url(images/cursor.svg), auto;
}
.main .aspect-section .aspect-subtitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.15em;
}
.main .aspect-section .aspect-title {
  font-size: 96px;
  font-weight: 600;
  line-height: 110px;
  letter-spacing: -0.04em;
  margin: 20px 0px 70px 0px;
}
.main .aspect-section .aspect-title > span {
  color: #fa2702;
}
.main .aspect-section .aspect-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 16px;
}
.main .aspect-section .aspect-wrapper .aspect-wrapper-item {
  position: relative;
  padding: 35px 30px 40px;
  background-color: #ffffff;
  color: #121617;
  font-size: 30px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: -0.04em;
  transition: 0.2s all;
}
.main .aspect-section .aspect-wrapper .aspect-wrapper-item .aspect-wrapper-item-circle {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #fa2702;
  margin-bottom: 10px;
  background-size: 60%;
  position: relative;
}
.main .aspect-section .aspect-wrapper .aspect-wrapper-item .aspect-wrapper-item-circle .aspect-wrapper-item-circle-arrow {
  background-image: url(images/arrow-up-black.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  transform: rotate(-40deg);
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.main .aspect-section .aspect-wrapper .aspect-wrapper-item span {
  color: #4ebd09;
}
.main .aspect-section .aspect-wrapper .aspect-wrapper-item:hover {
  background-color: #121617;
  color: white;
}
.main .aspect-section .aspect-wrapper .aspect-wrapper-item:hover .aspect-wrapper-item-circle-arrow {
  background-image: url(images/arrow-up-white.svg);
}
.main .aspect-section .aspect-wrapper .aspect-wrapper-item-btn {
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  line-height: 100%;
  color: black;
  text-align: center;
  transition: 0.5s ease-in-out;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 100%;
  border: 1px solid currentColor;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0em;
  color: #69c72e;
  z-index: 2;
  cursor: url(images/cursor.svg), auto;
  border-radius: 0px;
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fa2702;
  color: white;
}
.main .aspect-section .aspect-wrapper .aspect-wrapper-item-btn span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #4ebd09;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.main .aspect-section .aspect-wrapper .aspect-wrapper-item-btn:active {
  background-color: #121617;
}
@media (hover: hover) {
  .main .aspect-section .aspect-wrapper .aspect-wrapper-item-btn:hover {
    color: #121617;
  }
  .main .aspect-section .aspect-wrapper .aspect-wrapper-item-btn:hover span {
    width: 225%;
    height: 225%;
  }
}
.main .plan-section {
  padding: 100px 0px;
  color: #121617;
  text-align: center;
}
.main .plan-section .plan-title {
  text-align: left;
  font-size: 64px;
  font-weight: 600;
  line-height: 83px;
  letter-spacing: -0.04em;
  margin-bottom: 60px;
}
.main .plan-section .plan-title .color-green {
  color: #4ebd09;
}
.main .plan-section .plan-title .color-red {
  color: #fa2702;
}
.main .plan-section .plan-wrapper {
  text-align: left;
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 40px 0px;
}
.main .plan-section .plan-wrapper .plan-wrapper-item-step {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.15em;
  color: #4ebd09;
}
.main .plan-section .plan-wrapper .plan-wrapper-item-text-bold {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
}
.main .plan-section .plan-wrapper .plan-wrapper-item-text-regular {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
}
.main .plan-section .plan-btn-wrapper {
  display: flex;
  justify-content: center;
}
.main .plan-section .animated-btn {
  margin-top: 70px;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  line-height: 48px;
  color: black;
  text-align: center;
  transition: 0.5s ease-in-out;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 48px;
  max-width: 176px;
  border: 1px solid currentColor;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0em;
  color: #69c72e;
  z-index: 2;
}
.main .plan-section .animated-btn span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #4ebd09;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.main .plan-section .animated-btn:active {
  background-color: #121617;
}
@media (hover: hover) {
  .main .plan-section .animated-btn:hover {
    color: #121617;
  }
  .main .plan-section .animated-btn:hover span {
    width: 225%;
    height: 396px;
  }
}
.main .benefit-section {
  padding: 80px 0px;
  background-color: #121617;
  color: white;
  cursor: url(images/cursor.svg), auto;
}
.main .benefit-section .benefit-subtitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.15em;
}
.main .benefit-section .benefit-title {
  font-size: 96px;
  font-weight: 600;
  line-height: 110px;
  letter-spacing: -0.04em;
  margin-top: 20px;
  margin-bottom: 80px;
  width: 70%;
}
.main .benefit-section .benefit-title > span {
  color: #fa2702;
}
.main .benefit-section .benefit-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
}
.main .benefit-section .benefit-wrapper .benefit-wrapper-item {
  background-color: white;
  color: #121617;
  padding: 35px 30px 30px 30px;
  transition: 0.2s all;
}
.main .benefit-section .benefit-wrapper .benefit-wrapper-item .benefit-wrapper-item-circle-wrapper {
  width: -moz-max-content;
  width: max-content;
  position: relative;
  margin-bottom: 10px;
}
.main .benefit-section .benefit-wrapper .benefit-wrapper-item .benefit-wrapper-item-circle-wrapper .benefit-wrapper-item-circle {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #fa2702;
}
.main .benefit-section .benefit-wrapper .benefit-wrapper-item .benefit-wrapper-item-circle-wrapper .benefit-wrapper-item-plus {
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 24px;
  height: 24px;
  background-image: url(images/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.main .benefit-section .benefit-wrapper .benefit-wrapper-item .benefit-wrapper-item-title {
  font-size: 30px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: -0.04em;
  margin-bottom: 20px;
}
.main .benefit-section .benefit-wrapper .benefit-wrapper-item .benefit-wrapper-item-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.04em;
  width: 65%;
}
.main .benefit-section .benefit-wrapper .benefit-wrapper-item:hover {
  background-color: #121617;
  color: white;
}
.main .benefit-section .benefit-wrapper .benefit-wrapper-item:hover .benefit-wrapper-item-circle-wrapper .benefit-wrapper-item-plus {
  background-image: url(images/plus-white.svg);
}
.main .example-section {
  background-color: #121617;
  color: white;
}
.main .example-section .example-title {
  font-size: 64px;
  font-weight: 600;
  line-height: 83px;
  letter-spacing: -0.04em;
  padding-bottom: 40px;
}
.main .example-section .example-title > span {
  color: #4ebd09;
}
.main .example-section .example-section-slider .slider-item {
  margin: 0px 30px;
  width: 1440px;
}
.main .example-section .example-section-slider .slider-item .example-slider-img-wrapper {
  max-width: 1440px;
}
.main .example-section .example-section-slider .slider-item .example-slider-img-wrapper > img {
  width: 100%;
}
.main .example-section .example-section-slider .slick-prev:before,
.main .example-section .example-section-slider .slick-next:before {
  content: "";
}
.main .example-section .example-section-slider .slick-prev,
.main .example-section .example-section-slider .slick-next {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
  background-color: transparent;
}
.main .example-section .example-section-slider .slick-prev:active,
.main .example-section .example-section-slider .slick-next:active {
  background-color: rgba(255, 255, 255, 0.3882352941);
}
.main .example-section .example-section-slider .slick-prev {
  left: 50px;
  z-index: 10;
  background-image: url(images/arrow-left.svg);
}
.main .example-section .example-section-slider .slick-next {
  right: 50px;
  background-image: url(images/arrow-right.svg);
}
.main .numbers-section {
  padding-top: 135px;
  padding-bottom: 70px;
}
.main .numbers-section .numbers-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.main .numbers-section .numbers-wrapper .numbers-wrapper-text {
  padding-left: 100px;
}
.main .numbers-section .numbers-wrapper .numbers-wrapper-text .numbers-wrapper-text-title {
  font-size: 64px;
  font-weight: 600;
  line-height: 83px;
  letter-spacing: -0.04em;
  width: 75%;
}
.main .numbers-section .numbers-wrapper .numbers-wrapper-text .numbers-wrapper-text-title .color-green {
  color: #4ebd09;
}
.main .numbers-section .numbers-wrapper .numbers-wrapper-text .numbers-wrapper-text-title .color-red {
  color: #fa2702;
}
.main .numbers-section .numbers-wrapper .numbers-wrapper-text .numbers-wrapper-text-subtitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  color: #989898;
  padding: 40px 0px;
  width: 60%;
}
.main .numbers-section .numbers-wrapper .numbers-wrapper-text .numbers-wrapper-text-btn {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  padding: 18px 58px;
  color: white;
  background-color: #121617;
  border-radius: 50px;
  cursor: pointer;
}
.main .numbers-section .numbers-wrapper .numbers-wrapper-text .numbers-wrapper-text-btn .numbers-wrapper-text-btn-row {
  align-items: center;
  gap: 10px;
}
.main .numbers-section .numbers-wrapper .numbers-wrapper-text .numbers-wrapper-text-btn .numbers-wrapper-text-btn-row .red-circle {
  width: 20px;
  height: 20px;
  background-color: #fa2702;
  border-radius: 50px;
}
.main .numbers-section .numbers-wrapper .numbers-wrapper-indicators .numbers-wrapper-indicators-item {
  padding: 50px 53px;
  background-color: #121617;
  color: white;
  margin-bottom: 20px;
}
.main .numbers-section .numbers-wrapper .numbers-wrapper-indicators .numbers-wrapper-indicators-item .numbers-wrapper-indicators-item-row {
  align-items: center;
  gap: 40px;
}
.main .numbers-section .numbers-wrapper .numbers-wrapper-indicators .numbers-wrapper-indicators-item .numbers-wrapper-indicators-item-row .bold-text {
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.04em;
  margin-bottom: 10px;
}
.main .numbers-section .numbers-wrapper .numbers-wrapper-indicators .numbers-wrapper-indicators-item .numbers-wrapper-indicators-item-row .regular-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
}
.main .numbers-section .numbers-wrapper .numbers-wrapper-indicators .numbers-wrapper-indicators-item .numbers-wrapper-indicators-item-circle {
  min-width: 40px;
  min-height: 40px;
  background-color: #fa2702;
  border-radius: 50px;
  border: none;
  background-image: url(images/arrow-up-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  transform: rotate(140deg);
}
.main .companies-section {
  background-color: #121617;
  color: white;
  padding-top: 90px;
  padding-bottom: 50px;
}
.main .companies-section .companies-title {
  font-size: 64px;
  font-weight: 600;
  line-height: 83px;
  letter-spacing: -0.04em;
  margin-bottom: 40px;
}
.main .companies-section .companies-title .color-green {
  color: #4ebd09;
}
.main .companies-section .companies-title .color-red {
  color: #fa2702;
}
.main .companies-section .companies-slider .slider-item {
  width: 180px;
  height: 180px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  margin: 0px 50px;
}
.main .companies-section .companies-slider .slider-item-1 {
  background-image: url(images/companies-logo-1.svg);
}
.main .companies-section .companies-slider .slider-item-2 {
  background-image: url(images/companies-logo-2.svg);
}
.main .companies-section .companies-slider .slider-item-3 {
  background-image: url(images/companies-logo-3.svg);
}
.main .companies-section .companies-slider .slider-item-4 {
  background-image: url(images/companies-logo-4.svg);
}
.main .companies-section .companies-slider .slider-item-5 {
  background-image: url(images/companies-logo-5.svg);
}
.main .companies-section .companies-slider .slider-item-6 {
  background-image: url(images/companies-logo-6.svg);
}
.main .companies-section .companies-slider .slider-item-7 {
  background-image: url(images/companies-logo-7.svg);
}
.main .companies-section .companies-slider .slider-item-8 {
  background-image: url(images/companies-logo-8.svg);
}
.main .companies-section .companies-slider .slider-item-9 {
  background-image: url(images/companies-logo-9.svg);
}
.main .companies-section .companies-slider .slider-item-10 {
  background-image: url(images/companies-logo-10.svg);
}
.main .companies-section .companies-slider .slider-item-11 {
  background-image: url(images/companies-logo-11.svg);
}
.main .companies-section .companies-slider .slider-item-12 {
  background-image: url(images/companies-logo-12.svg);
}
.main .companies-section .companies-slider .slider-item-13 {
  background-image: url(images/companies-logo-13.svg);
}
.main .companies-section .companies-slider .slider-item-14 {
  background-image: url(images/companies-logo-14.svg);
}
.main .companies-section .companies-slider .slider-item-15 {
  background-image: url(images/companies-logo-15.svg);
}
.main .companies-section .companies-slider .slider-item-16 {
  background-image: url(images/companies-logo-16.svg);
}
.main .companies-section .companies-slider .slider-item-17 {
  background-image: url(images/companies-logo-17.svg);
}
.main .companies-section .companies-slider .slider-item-18 {
  background-image: url(images/companies-logo-18.svg);
}
.main .companies-section .companies-slider .slider-item-19 {
  background-image: url(images/companies-logo-19.svg);
}
.main .companies-section .companies-slider .slider-item-20 {
  background-image: url(images/companies-logo-20.svg);
}
.main .companies-section .companies-slider .slider-item-21 {
  background-image: url(images/companies-logo-21.svg);
}
.main .companies-section .companies-slider .slider-item-22 {
  background-image: url(images/companies-logo-22.svg);
}
.main .companies-section .companies-slider .slider-item-23 {
  background-image: url(images/companies-logo-23.svg);
}
.main .companies-section .companies-slider .slider-item-24 {
  background-image: url(images/companies-logo-24.svg);
}
.main .companies-section .companies-slider .slider-item-25 {
  background-image: url(images/companies-logo-25.svg);
}
.main .companies-section .companies-slider .slider-item-26 {
  background-image: url(images/companies-logo-26.svg);
}
.main .companies-section .companies-slider .slider-item-27 {
  background-image: url(images/companies-logo-27.svg);
}
.main .companies-section .companies-slider .slider-item-28 {
  background-image: url(images/companies-logo-28.svg);
}
.main .companies-section .companies-slider .slider-item-29 {
  background-image: url(images/companies-logo-29.svg);
}
.main .companies-section .companies-slider .slider-item-30 {
  background-image: url(images/companies-logo-30.svg);
}
.main .form-section {
  padding: 60px 0px;
  text-align: center;
}
.main .form-section .form-title {
  font-size: 64px;
  font-weight: 600;
  line-height: 83px;
  letter-spacing: -0.04em;
  color: #121617;
  text-align: left;
  width: 68%;
  margin: 0 auto;
}
.main .form-section .form-title > span {
  color: #fa2702;
}
.main .form-section .form-subtitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  margin-top: 60px;
  margin-bottom: 40px;
}
.main .form-section .form-subtitle > span {
  color: #4ebd09;
}
.main .form-section .form {
  width: 50%;
  margin: 0 auto;
  padding: 0px 100px;
}
.main .form-section .form .form-input-label-wrapper {
  text-align: left;
}
.main .form-section .form .form-input-label-wrapper > label {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  color: #121617;
}
.main .form-section .form .form-input {
  width: 100%;
  height: 48px;
  border: none;
  border-bottom: 1px solid #2c2c2c;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  color: #989898;
}
.main .form-section .form .form-input::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  color: #989898;
}
.main .form-section .form .form-input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  color: #989898;
}
.main .form-section .form .form-input:focus-visible,
.main .form-section .form .form-input:focus {
  outline: none;
  border-bottom: 1px solid #4ebd09;
}
.main .form-section .form .btn-wrapper {
  display: flex;
  justify-content: center;
}
.main .form-section .form .animated-btn {
  margin-top: 40px;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  line-height: 48px;
  color: black;
  text-align: center;
  transition: 0.5s ease-in-out;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 48px;
  max-width: 176px;
  border: 1px solid currentColor;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0em;
  color: #69c72e;
  z-index: 2;
}
.main .form-section .form .animated-btn span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #4ebd09;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.main .form-section .form .animated-btn:active {
  background-color: #121617;
}
@media (hover: hover) {
  .main .form-section .form .animated-btn:hover {
    color: #121617;
  }
  .main .form-section .form .animated-btn:hover span {
    width: 225%;
    height: 396px;
  }
}
.main .review-section {
  background-color: #2c2c2c;
  color: white;
  padding-top: 80px;
  padding-bottom: 60px;
  position: relative;
}
.main .review-section .review-title {
  font-size: 64px;
  font-weight: 600;
  line-height: 83px;
  letter-spacing: -0.04em;
  margin-bottom: 60px;
}
.main .review-section .review-slider {
  position: static;
}
.main .review-section .review-slider .review-item {
  background: linear-gradient(117.26deg, rgba(216, 216, 216, 0) 0%, rgba(216, 216, 216, 0) 100%), linear-gradient(0deg, #ffffff, #ffffff);
  border: 1px solid;
  border-image-source: linear-gradient(117.26deg, rgba(216, 216, 216, 0) 0%, rgba(216, 216, 216, 0) 100%);
  padding: 24px 20px;
  border-radius: 4px;
  margin: 0px 10px;
}
.main .review-section .review-slider .review-item .user-img-and-quote-row {
  justify-content: space-between;
}
.main .review-section .review-slider .review-item .user-img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-position: center;
  background-repeat: no-repeat;
}
.main .review-section .review-slider .review-item .user-img-1 {
  background-image: url(images/user-img-1.svg);
}
.main .review-section .review-slider .review-item .user-img-2 {
  background-image: url(images/user-img-2.svg);
}
.main .review-section .review-slider .review-item .user-img-3 {
  background-image: url(images/user-img-3.svg);
}
.main .review-section .review-slider .review-item .user-img-4 {
  background-image: url(images/user-img-4.svg);
}
.main .review-section .review-slider .review-item .user-img-5 {
  background-image: url(images/user-img-5.svg);
}
.main .review-section .review-slider .review-item .user-img-6 {
  background-image: url(images/user-img-6.svg);
}
.main .review-section .review-slider .review-item .user-img-7 {
  background-image: url(images/user-img-7.svg);
}
.main .review-section .review-slider .review-item .quote-img {
  hanging-punctuation: 20px;
  width: 20px;
  background-image: url(images/icon-quote.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.main .review-section .review-slider .review-item .user-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0px;
  color: #323232;
  margin: 10px 0px;
}
.main .review-section .review-slider .review-item .rate {
  background-image: url(images/icon-rating.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 94px;
  height: 14px;
  margin-bottom: 10px;
}
.main .review-section .review-slider .review-item .user-review {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  color: #989898;
}
.main .review-section .review-slider .slick-prev:before,
.main .review-section .review-slider .slick-next:before {
  content: "";
}
.main .review-section .review-slider .slick-prev,
.main .review-section .review-slider .slick-next {
  top: 125px;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50px;
  background-position: center;
  background-repeat: no-repeat;
}
.main .review-section .review-slider .slick-prev {
  left: auto;
  right: 155px;
  background-image: url(images/arrow-left-black.svg);
}
.main .review-section .review-slider .slick-prev:active {
  background-image: url(images/arrow-left-white.svg);
  background-color: #fa2702;
}
.main .review-section .review-slider .slick-next {
  right: 85px;
  background-image: url(images/arrow-right-black.svg);
}
.main .review-section .review-slider .slick-next:active {
  background-image: url(images/arrow-right-white.svg);
  background-color: #fa2702;
}

.footer {
  background-color: #121617;
  color: #ffffff;
  padding: 80px 0px;
}
.footer .footer-content-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1.5fr;
  gap: 40px;
}
.footer .footer-content-row .footer-logo {
  margin-bottom: 40px;
}
.footer .footer-content-row .footer-subtitle {
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  margin-bottom: 24px;
}
.footer .footer-content-row .footer-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  opacity: 0.8;
  margin-bottom: 24px;
}
.footer .footer-content-row .footer-link {
  text-decoration: none;
  color: white;
  display: block;
}
.footer .footer-form {
  background-color: #1e2425;
  padding: 20px 24px;
  justify-content: space-between;
}
.footer .footer-form .footer-email {
  border: none;
  background-color: transparent;
  color: #ffffff;
  width: 80%;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}
.footer .footer-form .footer-email:focus, .footer .footer-form .footer-email:focus-visible {
  outline: none;
}
.footer .footer-form .footer-email::-moz-placeholder {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}
.footer .footer-form .footer-email::placeholder {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}
.footer .footer-form .footer-form-btn {
  background-color: transparent;
  width: 22px;
  height: 22px;
  border: none;
  background-image: url(images/send-img.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.footer .footer-btns-row {
  margin-top: 24px;
  gap: 16px;
  justify-content: flex-end;
}
.footer .footer-btns-row .footer-btn {
  width: 40px;
  height: 40px;
  background-color: #1e2425;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}
.footer .footer-btns-row .footer-btn-telegram {
  background-image: url(images/telegram-icon.svg);
}
.footer .footer-btns-row .footer-btn-youtube {
  background-image: url(images/youtube-icon.svg);
}
.footer .footer-btns-row .footer-btn-instagram {
  background-image: url(images/instagram-icon.svg);
}

@media (hover: hover) {
  .header .heaader-menu .header-menu-item {
    transition: 0.2s all;
  }
  .header .heaader-menu .header-menu-item:hover {
    color: #ffffff;
  }
  .main .intro-section .intro-section-img > img {
    transition: 0.2s all;
  }
  .main .intro-section .intro-section-img > img:hover {
    filter: grayscale(0%);
  }
  .main .intro-section .intro-content-row .intro-btn {
    transition: 0.2s all;
  }
  .main .intro-section .intro-content-row .intro-btn:hover {
    box-shadow: 0 0 10px 0 #49be01 inset, 0 0 30px 5px #49be01;
  }
  .main .aspect-section .aspect-wrapper .aspect-wrapper-item-btn:hover {
    border-color: #49be01;
  }
  .main .plan-section .animated-btn:hover {
    color: #ffffff;
  }
  .main .numbers-section .numbers-wrapper .numbers-wrapper-text .numbers-wrapper-text-btn:hover .red-circle {
    animation: 1s ease-in-out 0s infinite alternate colorChange;
  }
  .main .numbers-section .numbers-wrapper .numbers-wrapper-text .numbers-wrapper-text-btn .numbers-wrapper-text-btn-row .red-circle {
    transition: 0.2s all;
  }
  .main .form-section .form .animated-btn:hover {
    color: #ffffff;
  }
  .footer .footer-content-row .footer-link {
    transition: 0.2s all;
  }
  .footer .footer-content-row .footer-link:hover {
    opacity: 1;
  }
  .footer .footer-btns-row .footer-btn {
    transition: 0.2s all;
  }
  .footer .footer-btns-row .footer-btn:hover {
    transform: scale(110%);
  }
}
@media (max-width: 1200px) {
  .main .intro-section .intro-title {
    font-size: 80px;
  }
  .main .intro-section .animated-btn {
    display: none;
  }
  .main .intro-section .animated-btn-laptop {
    display: block;
  }
  .main .aspect-section .aspect-title {
    font-size: 80px;
  }
  .main .suitable-section .suitable-title {
    width: 85%;
  }
  .main .aspect-section .aspect-wrapper .aspect-wrapper-item {
    font-size: 26px;
  }
  .main .benefit-section .benefit-title {
    width: 85%;
  }
  .main .numbers-section .numbers-wrapper .numbers-wrapper-text {
    padding-left: 0;
  }
  .main .form-section .form {
    padding: 0px;
  }
  .footer .footer-content-row {
    grid-template-columns: 1fr 2fr;
  }
}
@media (max-width: 992px) {
  .header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding-bottom: 10px;
  }
  .header .header-row {
    justify-content: center;
  }
  .header .header-row .header-menu {
    display: none;
  }
  .header .header-row .animated-btn {
    display: none;
  }
  .main .intro-section {
    padding-top: 130px;
  }
  .main .intro-section .intro-title {
    font-size: 64px;
    line-height: 84px;
  }
  .main .intro-section .intro-section-img > img {
    filter: grayscale(0);
  }
  .main .intro-section .intro-content-row {
    flex-direction: column;
    margin-top: 24px;
    gap: 16px;
  }
  .main .intro-section .btn-laptop-wrapper {
    margin-top: 24px;
  }
  .main .intro-section .mobile-button-and-text-wrapper {
    flex-direction: column-reverse;
    gap: 60px;
  }
  .main .intro-section .animated-btn-laptop {
    background: linear-gradient(297.99deg, #49be01 -14.48%, #99ff48 110.19%);
    color: #121617;
  }
  .main .intro-section .animated-btn-laptop:active {
    background: linear-gradient(297.99deg, #348600 -14.48%, #5fc50b 110.19%);
  }
  .main .about-section .about-title {
    font-size: 62px;
  }
  .main .about-section .about-wrapper {
    grid-template-columns: 1fr;
  }
  .main .suitable-section {
    overflow: hidden;
  }
  .main .suitable-section .suitable-title {
    width: 100%;
    font-size: 57px;
  }
  .main .suitable-section .suitable-wrapper {
    width: 100%;
  }
  .main .suitable-section .suitable-wrapper .suitable-text {
    margin-left: 0;
  }
  .main .aspect-section .aspect-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
  .main .aspect-section .aspect-title {
    font-size: 57px;
    line-height: 67px;
  }
  .main .plan-section {
    overflow: hidden;
  }
  .main .plan-section .plan-wrapper {
    width: 100%;
  }
  .main .plan-section .animated-btn {
    background: linear-gradient(297.99deg, #49be01 -14.48%, #99ff48 110.19%);
    color: #ffffff;
    border: none;
  }
  .main .plan-section .animated-btn:active {
    background: linear-gradient(297.99deg, #348600 -14.48%, #5fc50b 110.19%);
  }
  .main .benefit-section .benefit-title {
    width: 100%;
    font-size: 64px;
    line-height: 74px;
  }
  .main .benefit-section .benefit-wrapper {
    grid-template-columns: 1fr;
  }
  .main .numbers-section {
    overflow: hidden;
  }
  .main .numbers-section .numbers-wrapper {
    grid-template-columns: 1fr;
    gap: 24px;
  }
  .main .numbers-section .numbers-wrapper .numbers-wrapper-text .numbers-wrapper-text-title {
    width: 100%;
    font-size: 64px;
    line-height: 74px;
  }
  .main .numbers-section .numbers-wrapper .numbers-wrapper-text .numbers-wrapper-text-btn:active .red-circle {
    background-color: #49be01;
  }
  .main .form-section .form-title {
    width: 100%;
    text-align: center;
    font-size: 57px;
    line-height: 67px;
  }
  .main .form-section .form {
    width: 100%;
  }
  .main .form-section .form .animated-btn {
    background: linear-gradient(297.99deg, #49be01 -14.48%, #99ff48 110.19%);
    color: #ffffff;
    border: none;
  }
  .main .form-section .form .animated-btn:active {
    background: linear-gradient(297.99deg, #348600 -14.48%, #5fc50b 110.19%);
  }
  .main .review-section .review-title {
    width: 80%;
  }
  .main .review-section .review-slider .slick-prev {
    right: 90px;
  }
  .main .review-section .review-slider .slick-next {
    right: 20px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 16px;
  }
  .header .header-row {
    margin: 0px 20px;
  }
  .header .header-row img {
    height: 44px;
  }
  .header .burger-menu {
    top: 104px;
  }
  .main .scroll-up-btn {
    width: 60px;
    height: 60px;
    background-size: 50%;
    right: 25px;
    bottom: 25px;
  }
  .main .intro-section {
    padding-top: 110px;
    padding-bottom: 0px;
    overflow: hidden;
    text-align: center;
  }
  .main .intro-section .intro-subtitle {
    font-size: 20px;
    line-height: 30px;
  }
  .main .intro-section .intro-title {
    padding-top: 20px;
    padding-bottom: 24px;
  }
  .main .intro-section .intro-text {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 0px;
  }
  .main .intro-section .intro-section-img {
    height: 240px;
    padding: 0px 0px;
    width: 107%;
    overflow: hidden;
    margin-left: -16px;
  }
  .main .intro-section .intro-section-img > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .about-section {
    padding-top: 40px;
  }
  .main .about-section .about-title {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 44px;
  }
  .main .about-section .about-wrapper {
    gap: 16px;
  }
  .main .about-section .about-wrapper .about-item-left {
    font-size: 20px;
    line-height: 30px;
  }
  .main .about-section .about-wrapper .about-item-right {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 8px;
  }
  .main .about-section .about-img {
    margin-top: 24px;
    height: 200px;
  }
  .main .suitable-section {
    padding-top: 42px;
    padding-bottom: 37px;
  }
  .main .suitable-section .suitable-title {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 24px;
  }
  .main .suitable-section .suitable-wrapper .suitable-subtitle {
    font-size: 20px;
    line-height: 30px;
  }
  .main .suitable-section .suitable-wrapper .suitable-text {
    font-size: 16px;
    line-height: 32px;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  .main .aspect-section {
    padding-top: 42px;
    padding-bottom: 16px;
  }
  .main .aspect-section .aspect-subtitle {
    font-size: 16px;
    line-height: 16px;
  }
  .main .aspect-section .aspect-title {
    font-size: 36px;
    line-height: 46px;
    margin-top: 8px;
    margin-bottom: 24px;
  }
  .main .aspect-section .aspect-wrapper {
    grid-template-rows: repeat(6, 220px);
  }
  .main .aspect-section .aspect-wrapper .aspect-wrapper-item {
    font-size: 20px;
    line-height: 32px;
  }
  .main .aspect-section .aspect-wrapper .aspect-wrapper-item-btn {
    font-size: 30px;
  }
  .main .plan-section {
    padding-top: 42px;
    padding-bottom: 36px;
  }
  .main .plan-section .plan-title {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 24px;
  }
  .main .plan-section .plan-wrapper {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .main .plan-section .plan-wrapper .plan-wrapper-item-step {
    font-size: 20px;
    line-height: 20px;
  }
  .main .plan-section .plan-wrapper .plan-wrapper-item-text-bold,
  .main .plan-section .plan-wrapper .plan-wrapper-item-text-regular {
    font-size: 16px;
    line-height: 26px;
  }
  .main .plan-section .plan-wrapper .plan-wrapper-item-text-regular {
    margin-bottom: 16px;
  }
  .main .plan-section .animated-btn {
    margin-top: 32px;
  }
  .main .benefit-section {
    padding-top: 42px;
    padding-bottom: 32px;
  }
  .main .benefit-section .benefit-subtitle {
    font-size: 16px;
    line-height: 16px;
  }
  .main .benefit-section .benefit-title {
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 32px;
  }
  .main .benefit-section .benefit-wrapper .benefit-wrapper-item .benefit-wrapper-item-title {
    font-size: 24px;
    line-height: 34px;
  }
  .main .benefit-section .benefit-wrapper .benefit-wrapper-item .benefit-wrapper-item-subtitle {
    font-size: 16px;
    line-height: 26px;
  }
  .main .example-section .example-title {
    font-size: 32px;
    line-height: 42px;
    padding-bottom: 23px;
  }
  .main .example-section .example-section-slider .slider-item {
    margin: 0px;
    max-height: 250px;
    width: auto;
  }
  .main .example-section .example-section-slider .slider-item .example-slider-img-wrapper {
    display: block;
    height: 250px;
  }
  .main .example-section .example-section-slider .slider-item .example-slider-img-wrapper > img {
    height: 100%;
    width: auto;
  }
  .main .example-section .example-section-slider .slick-prev,
  .main .example-section .example-section-slider .slick-next {
    height: 40px;
    width: 40px;
  }
  .main .example-section .example-section-slider .slick-prev {
    left: 0px;
  }
  .main .example-section .example-section-slider .slick-next {
    right: 0px;
  }
  .main .numbers-section {
    padding-top: 42px;
    padding-bottom: 0px;
  }
  .main .numbers-section .numbers-wrapper .numbers-wrapper-text .numbers-wrapper-text-title {
    font-size: 32px;
    line-height: 42px;
  }
  .main .numbers-section .numbers-wrapper .numbers-wrapper-text .numbers-wrapper-text-subtitle {
    font-size: 16px;
    line-height: 26px;
    padding: 24px 0px;
  }
  .main .numbers-section .numbers-wrapper .numbers-wrapper-text .numbers-wrapper-text-btn {
    width: 100%;
  }
  .main .numbers-section .numbers-wrapper .numbers-wrapper-text .numbers-wrapper-text-btn .numbers-wrapper-text-btn-row {
    justify-content: center;
  }
  .main .numbers-section .numbers-wrapper .numbers-wrapper-indicators .numbers-wrapper-indicators-item {
    padding: 50px 30px;
  }
  .main .companies-section {
    padding-top: 42px;
    padding-bottom: 30px;
  }
  .main .companies-section .companies-title {
    font-size: 32px;
    line-height: 42px;
  }
  .main .companies-section .companies-slider .slider-item {
    width: 100px;
    height: 100px;
    margin: 0px 30px;
    background-size: contain;
  }
  .main .form-section {
    padding-top: 32px;
    padding-bottom: 42px;
  }
  .main .form-section .form-title {
    font-size: 32px;
    line-height: 42px;
  }
  .main .form-section .form-subtitle {
    font-size: 16px;
    line-height: 26px;
    margin: 16px 0px;
  }
  .main .form-section .form .animated-btn {
    margin-top: 32px;
    width: 100%;
    max-width: 100%;
  }
  .main .review-section {
    padding-top: 42px;
    padding-bottom: 18px;
  }
  .main .review-section .review-title {
    font-size: 32px;
    line-height: 42px;
    width: 75%;
  }
  .main .review-section .review-slider .slick-next,
  .main .review-section .review-slider .slick-prev {
    width: 44px;
    height: 44px;
    top: 65px;
  }
  .main .review-section .review-slider .slick-prev {
    right: 60px;
  }
  .main .review-section .review-slider .slick-next {
    right: 10px;
  }
  .footer {
    padding-top: 42px;
    padding-bottom: 28px;
  }
  .footer .footer-content-row {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .footer .footer-content-row .footer-logo {
    margin-bottom: 16px;
  }
  .footer .footer-content-row .footer-text:last-child {
    margin-bottom: 0;
  }
  .footer .footer-content-row .footer-row-item:last-child {
    margin-top: 24px;
  }
  .footer .footer-btns-row {
    justify-content: center;
  }
}