@use "reset";

// ------- Global params -------

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.row {
    display: flex;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 82px;
}

// ------- Desktop -------

.header {
    background-color: #121617;
    color: #989898;
    .header-row {
        border-bottom: 2px solid #4ebd09;
        padding: 25px 36px;
        padding-bottom: 23px;
        align-items: center;
        justify-content: space-between;
    }
    .heaader-menu {
        gap: 40px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        .header-menu-item {
            cursor: pointer;
        }
    }
    .registration-btn {
        color: #4ebd09;
        background-color: transparent;
        border-radius: 50px;
        border: 1px solid #4ebd09;
        padding: 12px 42px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        cursor: pointer;
    }
}

.main {
    .intro-section {
        background-color: #121617;
        padding-top: 40px;
        padding-bottom: 60px;
        color: #ffffff;
        .intro-subtitle {
            font-size: 24px;
            font-weight: 600;
            line-height: 36px;
            letter-spacing: 0em;
            color: #4ebd09;
        }
        .intro-title {
            font-size: 96px;
            font-weight: 600;
            line-height: 96px;
            letter-spacing: -0.05em;
            text-transform: uppercase;
            padding: 24px 0px;
            > span {
                color: #fa2702;
            }
        }
        .intro-text {
            font-size: 24px;
            font-weight: 600;
            line-height: 44px;
            letter-spacing: 0em;
            margin-bottom: 40px;
        }
        .intro-section-img {
            width: 100%;
            > img {
                width: 100%;
            }
        }
        .intro-content-row {
            margin-top: 40px;
            align-items: center;
            justify-content: space-between;
            .intro-btn {
                border-radius: 50px;
                border: none;
                background-image: linear-gradient(
                    297.99deg,
                    #49be01 -14.48%,
                    #99ff48 110.19%
                );
                color: #121617;
                font-size: 24px;
                font-weight: 700;
                line-height: 36px;
                letter-spacing: 0em;
                padding: 22px 27px;
                cursor: pointer;
            }
            .intro-content-item {
                font-size: 20px;
                font-weight: 900;
                line-height: 30px;
                letter-spacing: 0.15em;
                color: #fa2702;
                text-transform: uppercase;
                > span {
                    color: #ffffff;
                }
            }
        }
    }
    .about-section {
        padding-top: 80px;
        color: #121617;
        .about-title {
            font-size: 64px;
            font-weight: 600;
            line-height: 83px;
            letter-spacing: -0.04em;
            margin-bottom: 80px;
        }
        .about-wrapper {
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 40px 50px;
            .about-wrapper-item {
                font-weight: 600;
                > span {
                    color: #4ebd09;
                }
            }
            .about-item-left {
                font-size: 24px;
                line-height: 36px;
                letter-spacing: 0.15em;
            }
            .about-item-right {
                font-size: 20px;
                line-height: 32px;
                letter-spacing: 0em;
            }
        }
        .about-img {
            margin-top: 80px;
            background-image: url(images/about-section-img.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 270px;
        }
    }
    .suitable-section {
        padding-top: 100px;
        padding-bottom: 60px;
        background-color: #2c2c2c;
        color: #989898;
        .suitable-title {
            font-size: 64px;
            font-weight: 600;
            line-height: 83px;
            letter-spacing: -0.04em;
            color: #ffffff;
            width: 60%;
            margin-bottom: 60px;
            > span {
                color: #4ebd09;
            }
        }
        .suitable-wrapper {
            width: 70%;
            margin: 0 auto;
            .suitable-subtitle {
                color: #fa2702;
                font-size: 24px;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: 0.15em;
            }
            .suitable-text {
                font-size: 20px;
                font-weight: 600;
                line-height: 32px;
                letter-spacing: 0em;
                margin: 20px 0px 40px 200px;
            }
            .suitable-text:last-child {
                margin-bottom: 0;
            }
        }
    }
}

// --- disable hover on touch devices ---

@media (hover: hover) {
    .header {
        .heaader-menu {
            .header-menu-item {
                transition: 0.2s all;
                &:hover {
                    color: #ffffff;
                }
            }
        }
        .registration-btn {
            transition: 0.2s all;
            &:hover {
                background-color: #4ebd0938;
            }
        }
    }

    .intro-section {
        .intro-content-row {
            .intro-btn {
                transition: 0.2s all;
                &:hover {
                    box-shadow: 0 0 10px 0 #49be01 inset, 0 0 30px 5px #49be01;
                }
            }
        }
    }
}

// ------- Laptop -------

@media (max-width: 1200px) {
}

// -------  Tablet -------

@media (max-width: 992px) {
}

// ------- Mobile -------

@media (max-width: 576px) {
}
